In [1]:
import pandas as pd
import os
import glob

#path = r"...notebooks\whisky" # use your path
#all_files = glob.glob(os.path.join(path, "*.csv"))     # advisable to use os.path.join as this makes concatenation OS independent

# Read csv files for each one in the file path
#df_from_each_file = (pd.read_csv(f) for f in all_files)

# Concatenate dataframes
#concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)

In [2]:
concatenated_df.head()

,name,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,date_scraped,country,organic
0,Eagle Rare 10 Year Old,Kentucky Straight Bourbon Whiskey,70cl,45%,4.5\n\n\n(51 Reviews),In Stock,£40.45,(£57.79 per litre),no limit,"A top-quality bourbon from Buffalo Trace, the ...",2022-06-18,United States,NaN
1,Jack Daniel's Old No. 7\nGuitar Case,Tennessee Whiskey,70cl,40%,5\n\n\n(2 Reviews),In Stock,£39.95,(£57.07 per litre),no limit,"A bottle of Jack Daniel's Old No. 7, presented...",2022-06-18,United States,NaN
2,Woodford Reserve Distiller's Select,Kentucky Straight Bourbon Whiskey,70cl,43.2%,5\n\n\n(97 Reviews),In Stock,£35.95,(£51.36 per litre),no limit,"Woodford Reserve is a superbly smooth, flavour...",2022-06-18,United States,NaN
3,Gentleman Jack\nJack Daniel's,Tennessee Whiskey,70cl,40%,4.5\n\n\n(230 Reviews),In Stock,£32.95,(£47.07 per litre),no limit,Twice run through Jack Daniels’ trademark mapl...,2022-06-18,United States,NaN
4,Jack Daniel's Legacy Sour Mash\nEdition 3,Tennessee Whiskey,70cl,43%,no rating,In Stock,£27.95,(£39.93 per litre),no limit,A special limited-edition bottle of Jack Danie...,2022-06-18,United States,NaN

In [3]:
concatenated_df.tail()

,name,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,date_scraped,country,organic
845,Kavalan Ex-Bourbon Oak,Taiwanese Single Malt Whisky\nDistillery Bottling,70cl,46%,no rating,In Stock,£84.45,(£120.64 per litre),no limit,A Taiwanese single malt from Kavalan distiller...,2022-06-17,Taiwan,NaN
846,Kavalan Solist Port Cask #015A (2010)\n10 Year...,Taiwanese Single Malt Whisky\nDistillery Bottling,70cl,56.3%,no rating,In Stock,£159,(£227.14 per litre),no limit,A 2010 Kavalan Taiwanese single malt that was ...,2022-06-17,Taiwan,NaN
847,Kavalan King Car Conductor,Taiwanese Single Malt Whisky,70cl,46%,4\n\n\n(1 Review),In Stock,£81.95,(£117.07 per litre),no limit,A single malt whisky from King Car's Kavalan d...,2022-06-17,Taiwan,NaN
848,Kavalan Concertmaster\nPort Finish Half Litre,Single Malt Taiwanese Whisky,50cl,40%,5\n\n\n(1 Review),In Stock,£51.95,(£103.90 per litre),no limit,A half-litre bottle of port-finished whisky fr...,2022-06-17,Taiwan,NaN
849,Kavalan Solist Moscatel Cask #031A\n(2010),Taiwanese Single Malt Whisky\nDistillery Bottling,70cl,56.3%,no rating,In Stock,£370,(£528.57 per litre),no limit,"Released in 2016, this bottling of Kavalan Sol...",2022-06-17,Taiwan,NaN

In [4]:
# Create new csv file from concatenated dataframes
# Need to only run one time
concatenated_df.to_csv("whisky_products.csv", index=False)

In [63]:
# Load csv file
whisky = pd.read_csv("whisky_products.csv", na_values=["no rating", "no limit", "n/a"]) # nan values set manually

### Data cleaning

In [64]:
whisky.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 850 non-null    object
 1   style                822 non-null    object
 2   size                 850 non-null    object
 3   alohol_percentage    850 non-null    object
 4   rating               369 non-null    object
 5   in_stock             850 non-null    object
 6   price                850 non-null    object
 7   price_per_litre      841 non-null    object
 8   customer_item_limit  71 non-null     object
 9   description          845 non-null    object
 10  date_scraped         850 non-null    object
 11  country              682 non-null    object
 12  organic              18 non-null     object
dtypes: object(13)
memory usage: 1005.6 KB

In [65]:
whisky

,name,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,date_scraped,country,organic
0,Eagle Rare 10 Year Old,Kentucky Straight Bourbon Whiskey,70cl,45%,4.5\n\n\n(51 Reviews),In Stock,£40.45,(£57.79 per litre),NaN,"A top-quality bourbon from Buffalo Trace, the ...",2022-06-18,United States,NaN
1,Jack Daniel's Old No. 7\nGuitar Case,Tennessee Whiskey,70cl,40%,5\n\n\n(2 Reviews),In Stock,£39.95,(£57.07 per litre),NaN,"A bottle of Jack Daniel's Old No. 7, presented...",2022-06-18,United States,NaN
2,Woodford Reserve Distiller's Select,Kentucky Straight Bourbon Whiskey,70cl,43.2%,5\n\n\n(97 Reviews),In Stock,£35.95,(£51.36 per litre),NaN,"Woodford Reserve is a superbly smooth, flavour...",2022-06-18,United States,NaN
3,Gentleman Jack\nJack Daniel's,Tennessee Whiskey,70cl,40%,4.5\n\n\n(230 Reviews),In Stock,£32.95,(£47.07 per litre),NaN,Twice run through Jack Daniels’ trademark mapl...,2022-06-18,United States,NaN
4,Jack Daniel's Legacy Sour Mash\nEdition 3,Tennessee Whiskey,70cl,43%,NaN,In Stock,£27.95,(£39.93 per litre),NaN,A special limited-edition bottle of Jack Danie...,2022-06-18,United States,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
845,Kavalan Ex-Bourbon Oak,Taiwanese Single Malt Whisky\nDistillery Bottling,70cl,46%,NaN,In Stock,£84.45,(£120.64 per litre),NaN,A Taiwanese single malt from Kavalan distiller...,2022-06-17,Taiwan,NaN
846,Kavalan Solist Port Cask #015A (2010)\n10 Year...,Taiwanese Single Malt Whisky\nDistillery Bottling,70cl,56.3%,NaN,In Stock,£159,(£227.14 per litre),NaN,A 2010 Kavalan Taiwanese single malt that was ...,2022-06-17,Taiwan,NaN
847,Kavalan King Car Conductor,Taiwanese Single Malt Whisky,70cl,46%,4\n\n\n(1 Review),In Stock,£81.95,(£117.07 per litre),NaN,A single malt whisky from King Car's Kavalan d...,2022-06-17,Taiwan,NaN
848,Kavalan Concertmaster\nPort Finish Half Litre,Single Malt Taiwanese Whisky,50cl,40%,5\n\n\n(1 Review),In Stock,£51.95,(£103.90 per litre),NaN,A half-litre bottle of port-finished whisky fr...,2022-06-17,Taiwan,NaN
849,Kavalan Solist Moscatel Cask #031A\n(2010),Taiwanese Single Malt Whisky\nDistillery Bottling,70cl,56.3%,NaN,In Stock,£370,(£528.57 per litre),NaN,"Released in 2016, this bottling of Kavalan Sol...",2022-06-17,Taiwan,NaN

In [66]:
# Create a copy
df = whisky.copy()

### Name column

In [67]:
# Replace new line character with dash
df["name"] = df["name"].str.replace("\n", "-")

In [68]:
# Strip any whitespace
df["name"] = df["name"].str.strip()

In [69]:
df["name"].sample(10)

253               JP Wiser's 10 Year Old Triple Barreled
744                                    Paul John Mithuna
142                            Balcones Texas Rye Whisky
62             Michter's US*1 Single Barrel Straight Rye
517                                  Hakushu 12 Year Old
556                             Nikka Coffey Malt Whisky
807                                   Box Early Days 002
93     Wilderness Trail Settlers Select Barrel Proof ...
834               Kavalan Concertmaster-Port Cask Finish
242                     Crown Royal Northern Harvest Rye
Name: name, dtype: object

In [70]:
# Unique product names
df["name"].nunique()

749

### Style column

In [71]:
# Strip and replace newline and whitespace
df["style"] = df["style"].str.replace("\n", "-").str.strip()

### Size Column

In [72]:
# Frequency of bottle sizes
df["size"].value_counts()

70cl    619
50cl    103
75cl     85
100c      9
35cl      7
20cl      6
37.5      5
94.6      3
60cl      2
75.7      2
3cl       2
150c      2
110c      1
300c      1
450c      1
40cl      1
175c      1
Name: size, dtype: int64

In [73]:
# Remove trailing "cl" charcaters
# Cast as float
df["size"] = df["size"].str.replace("cl", "").str.replace("c","").astype(float)

In [74]:
df["size"].dtype

dtype('float64')

### Alcohol %

In [75]:
# Remove percent and slash characters
# Cast as float
df["alohol_percentage"] = df["alohol_percentage"].str.replace("/","").str.replace("%","").str.strip().astype(float)

In [76]:
df.head()

,name,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,date_scraped,country,organic
0,Eagle Rare 10 Year Old,Kentucky Straight Bourbon Whiskey,70.0,45.0,4.5\n\n\n(51 Reviews),In Stock,£40.45,(£57.79 per litre),NaN,"A top-quality bourbon from Buffalo Trace, the ...",2022-06-18,United States,NaN
1,Jack Daniel's Old No. 7-Guitar Case,Tennessee Whiskey,70.0,40.0,5\n\n\n(2 Reviews),In Stock,£39.95,(£57.07 per litre),NaN,"A bottle of Jack Daniel's Old No. 7, presented...",2022-06-18,United States,NaN
2,Woodford Reserve Distiller's Select,Kentucky Straight Bourbon Whiskey,70.0,43.2,5\n\n\n(97 Reviews),In Stock,£35.95,(£51.36 per litre),NaN,"Woodford Reserve is a superbly smooth, flavour...",2022-06-18,United States,NaN
3,Gentleman Jack-Jack Daniel's,Tennessee Whiskey,70.0,40.0,4.5\n\n\n(230 Reviews),In Stock,£32.95,(£47.07 per litre),NaN,Twice run through Jack Daniels’ trademark mapl...,2022-06-18,United States,NaN
4,Jack Daniel's Legacy Sour Mash-Edition 3,Tennessee Whiskey,70.0,43.0,NaN,In Stock,£27.95,(£39.93 per litre),NaN,A special limited-edition bottle of Jack Danie...,2022-06-18,United States,NaN

### Ratings/reviews

In [77]:
# Get first three string elements
df["average_rating"] = df["rating"].str[:3]

In [78]:
df["average_rating"]

0        4.5
1      5\n\n
2      5\n\n
3        4.5
4        NaN
       ...
845      NaN
846      NaN
847    4\n\n
848    5\n\n
849      NaN
Name: average_rating, Length: 850, dtype: object

In [79]:
# Get remaining string elements past index three
df["totaL_reviews"] = df["rating"].str[3:]

In [80]:
df.head()

,name,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,date_scraped,country,organic,average_rating,totaL_reviews
0,Eagle Rare 10 Year Old,Kentucky Straight Bourbon Whiskey,70.0,45.0,4.5\n\n\n(51 Reviews),In Stock,£40.45,(£57.79 per litre),NaN,"A top-quality bourbon from Buffalo Trace, the ...",2022-06-18,United States,NaN,4.5,\n\n\n(51 Reviews)
1,Jack Daniel's Old No. 7-Guitar Case,Tennessee Whiskey,70.0,40.0,5\n\n\n(2 Reviews),In Stock,£39.95,(£57.07 per litre),NaN,"A bottle of Jack Daniel's Old No. 7, presented...",2022-06-18,United States,NaN,5\n\n,\n(2 Reviews)
2,Woodford Reserve Distiller's Select,Kentucky Straight Bourbon Whiskey,70.0,43.2,5\n\n\n(97 Reviews),In Stock,£35.95,(£51.36 per litre),NaN,"Woodford Reserve is a superbly smooth, flavour...",2022-06-18,United States,NaN,5\n\n,\n(97 Reviews)
3,Gentleman Jack-Jack Daniel's,Tennessee Whiskey,70.0,40.0,4.5\n\n\n(230 Reviews),In Stock,£32.95,(£47.07 per litre),NaN,Twice run through Jack Daniels’ trademark mapl...,2022-06-18,United States,NaN,4.5,\n\n\n(230 Reviews)
4,Jack Daniel's Legacy Sour Mash-Edition 3,Tennessee Whiskey,70.0,43.0,NaN,In Stock,£27.95,(£39.93 per litre),NaN,A special limited-edition bottle of Jack Danie...,2022-06-18,United States,NaN,NaN,NaN

In [81]:
# Remove newline characters
# Cast as flot
df["average_rating"] = df["average_rating"].str.replace("\n","").astype(float)

In [82]:
# Remove paranthesis and additional string elements
# Cast as float
df["totaL_reviews"] = df["totaL_reviews"].str.replace("\n","", regex=True)\
                   .str.replace("(","", regex=True)\
                   .str.replace(")","", regex=True)\
                   .str.replace("Reviews","")\
                   .str.replace("Review","")\
                   .astype(float)

In [83]:
df.head()

,name,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,date_scraped,country,organic,average_rating,totaL_reviews
0,Eagle Rare 10 Year Old,Kentucky Straight Bourbon Whiskey,70.0,45.0,4.5\n\n\n(51 Reviews),In Stock,£40.45,(£57.79 per litre),NaN,"A top-quality bourbon from Buffalo Trace, the ...",2022-06-18,United States,NaN,4.5,51.0
1,Jack Daniel's Old No. 7-Guitar Case,Tennessee Whiskey,70.0,40.0,5\n\n\n(2 Reviews),In Stock,£39.95,(£57.07 per litre),NaN,"A bottle of Jack Daniel's Old No. 7, presented...",2022-06-18,United States,NaN,5.0,2.0
2,Woodford Reserve Distiller's Select,Kentucky Straight Bourbon Whiskey,70.0,43.2,5\n\n\n(97 Reviews),In Stock,£35.95,(£51.36 per litre),NaN,"Woodford Reserve is a superbly smooth, flavour...",2022-06-18,United States,NaN,5.0,97.0
3,Gentleman Jack-Jack Daniel's,Tennessee Whiskey,70.0,40.0,4.5\n\n\n(230 Reviews),In Stock,£32.95,(£47.07 per litre),NaN,Twice run through Jack Daniels’ trademark mapl...,2022-06-18,United States,NaN,4.5,230.0
4,Jack Daniel's Legacy Sour Mash-Edition 3,Tennessee Whiskey,70.0,43.0,NaN,In Stock,£27.95,(£39.93 per litre),NaN,A special limited-edition bottle of Jack Danie...,2022-06-18,United States,NaN,NaN,NaN

### Price/price per litre

In [84]:
# Remove pound currency and additional comma
# Cast as float
df["price"] = df["price"].str.replace("£","")\
                         .str.replace(",","")\
                         .astype(float)

In [85]:
df["price"].describe()

count      850.000000
mean       268.840765
std       2158.189341
min          5.750000
25%         43.450000
50%         59.950000
75%         84.950000
max      60000.000000
Name: price, dtype: float64

In [86]:
# Remove paranthesis, pound currency and commas
df["price_per_litre"] = df["price_per_litre"].str.replace("(","", regex=True)\
                                             .str.replace(")","", regex=True)\
                                             .str.replace("£","")\
                                             .str.replace(",","")

In [87]:
# Split on whitespace and retrieve first element of list
df["price_per_litre"] = df["price_per_litre"].str.split(" ").str[0]

In [88]:
# Cast as float
df["price_per_litre"] = df["price_per_litre"].astype(float)

In [89]:
df.head()

,name,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,date_scraped,country,organic,average_rating,totaL_reviews
0,Eagle Rare 10 Year Old,Kentucky Straight Bourbon Whiskey,70.0,45.0,4.5\n\n\n(51 Reviews),In Stock,40.45,57.79,NaN,"A top-quality bourbon from Buffalo Trace, the ...",2022-06-18,United States,NaN,4.5,51.0
1,Jack Daniel's Old No. 7-Guitar Case,Tennessee Whiskey,70.0,40.0,5\n\n\n(2 Reviews),In Stock,39.95,57.07,NaN,"A bottle of Jack Daniel's Old No. 7, presented...",2022-06-18,United States,NaN,5.0,2.0
2,Woodford Reserve Distiller's Select,Kentucky Straight Bourbon Whiskey,70.0,43.2,5\n\n\n(97 Reviews),In Stock,35.95,51.36,NaN,"Woodford Reserve is a superbly smooth, flavour...",2022-06-18,United States,NaN,5.0,97.0
3,Gentleman Jack-Jack Daniel's,Tennessee Whiskey,70.0,40.0,4.5\n\n\n(230 Reviews),In Stock,32.95,47.07,NaN,Twice run through Jack Daniels’ trademark mapl...,2022-06-18,United States,NaN,4.5,230.0
4,Jack Daniel's Legacy Sour Mash-Edition 3,Tennessee Whiskey,70.0,43.0,NaN,In Stock,27.95,39.93,NaN,A special limited-edition bottle of Jack Danie...,2022-06-18,United States,NaN,NaN,NaN

### Convert British pounds to US dollars (price, and price per litre)

In [90]:
# June 18, 2022 exchange rate
# 1 GBP = 1.22 USD
# 1 * 1.22

In [91]:
# Price
# Multiply british currency by 1.22 to calculate US dollar conversion
df["price_usd"] = df["price"] * 1.22

In [92]:
# Price per litre
# Multiply british currency by 1.22 to calculate US dollar conversion
df["per_litre_usd"] = df["price_per_litre"] * 1.22

In [93]:
df.head()

,name,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,date_scraped,country,organic,average_rating,totaL_reviews,price_usd,per_litre_usd
0,Eagle Rare 10 Year Old,Kentucky Straight Bourbon Whiskey,70.0,45.0,4.5\n\n\n(51 Reviews),In Stock,40.45,57.79,NaN,"A top-quality bourbon from Buffalo Trace, the ...",2022-06-18,United States,NaN,4.5,51.0,49.349,70.5038
1,Jack Daniel's Old No. 7-Guitar Case,Tennessee Whiskey,70.0,40.0,5\n\n\n(2 Reviews),In Stock,39.95,57.07,NaN,"A bottle of Jack Daniel's Old No. 7, presented...",2022-06-18,United States,NaN,5.0,2.0,48.739,69.6254
2,Woodford Reserve Distiller's Select,Kentucky Straight Bourbon Whiskey,70.0,43.2,5\n\n\n(97 Reviews),In Stock,35.95,51.36,NaN,"Woodford Reserve is a superbly smooth, flavour...",2022-06-18,United States,NaN,5.0,97.0,43.859,62.6592
3,Gentleman Jack-Jack Daniel's,Tennessee Whiskey,70.0,40.0,4.5\n\n\n(230 Reviews),In Stock,32.95,47.07,NaN,Twice run through Jack Daniels’ trademark mapl...,2022-06-18,United States,NaN,4.5,230.0,40.199,57.4254
4,Jack Daniel's Legacy Sour Mash-Edition 3,Tennessee Whiskey,70.0,43.0,NaN,In Stock,27.95,39.93,NaN,A special limited-edition bottle of Jack Danie...,2022-06-18,United States,NaN,NaN,NaN,34.099,48.7146

In [94]:
df["name"].nunique()

749

### Customer item limit

In [95]:
df["customer_item_limit"].value_counts()

Maximum 1 per customer    44
Maximum 2 per customer    21
Maximum 3 per customer     4
Maximum 6 per customer     2
Name: customer_item_limit, dtype: int64

In [96]:
# Split on whitespace, retrieve first element of list
# Cast as float
df["customer_item_limit"] = df["customer_item_limit"].str.split(" ").str[1].astype(float)

In [97]:
df.head()

,name,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,date_scraped,country,organic,average_rating,totaL_reviews,price_usd,per_litre_usd
0,Eagle Rare 10 Year Old,Kentucky Straight Bourbon Whiskey,70.0,45.0,4.5\n\n\n(51 Reviews),In Stock,40.45,57.79,NaN,"A top-quality bourbon from Buffalo Trace, the ...",2022-06-18,United States,NaN,4.5,51.0,49.349,70.5038
1,Jack Daniel's Old No. 7-Guitar Case,Tennessee Whiskey,70.0,40.0,5\n\n\n(2 Reviews),In Stock,39.95,57.07,NaN,"A bottle of Jack Daniel's Old No. 7, presented...",2022-06-18,United States,NaN,5.0,2.0,48.739,69.6254
2,Woodford Reserve Distiller's Select,Kentucky Straight Bourbon Whiskey,70.0,43.2,5\n\n\n(97 Reviews),In Stock,35.95,51.36,NaN,"Woodford Reserve is a superbly smooth, flavour...",2022-06-18,United States,NaN,5.0,97.0,43.859,62.6592
3,Gentleman Jack-Jack Daniel's,Tennessee Whiskey,70.0,40.0,4.5\n\n\n(230 Reviews),In Stock,32.95,47.07,NaN,Twice run through Jack Daniels’ trademark mapl...,2022-06-18,United States,NaN,4.5,230.0,40.199,57.4254
4,Jack Daniel's Legacy Sour Mash-Edition 3,Tennessee Whiskey,70.0,43.0,NaN,In Stock,27.95,39.93,NaN,A special limited-edition bottle of Jack Danie...,2022-06-18,United States,NaN,NaN,NaN,34.099,48.7146

### Country

In [98]:
df["country"].value_counts()

United States                                                                                                                                                                     240
England                                                                                                                                                                            48
Canada                                                                                                                                                                             24
India                                                                                                                                                                              24
Japan                                                                                                                                                                              23
                                                                                                                                                                                 ...
Facts\n\n\n\nBottler\nHardenberg Distillery\n\n\n\nCountry\nGermany\n\n\n\nCask Type\n1st Fill Bourbon                                                                              1
Facts\n\n\n\nAge\n3 Year Old\n\n\n\nBottling Date\n2019\n\n\n\nCountry\nNew Zealand\n\n\n\nChill Filtered\nNo\n\n\n\nColouring\nNo\n\n\n\nSustainability\nSustainably Produced      1
Facts\n\n\n\nCountry\nTaiwan\n\n\n\nCask Type\nSherry\n\n\n\nChill Filtered\nNo\n\n\n\nColouring\nNo                                                                                1
Facts\n\n\n\nCountry\nScotland\n\n\n\nColouring\nNo\n\n\n\nCertification\nCertified Organic                                                                                         1
Facts\n\n\n\nBottler\nThe Perfect Measure\n\n\n\nCountry\nScotland\n\n\n\nRegion\nHighland\n\n\n\nCertification\nCertified B-Corp, Certified Organic, Net Zero                      1
Name: country, Length: 243, dtype: int64

In [99]:
# Error when webscraping
# Fill null values, only null values are from Ireland country column
df["country"] = df["country"].fillna("Ireland")

In [100]:
# Set a new copy for country name retrieval
# Scraping errors produce a string of text with "Country" and other text
fix = df[df["country"].str.contains("Country")].copy()

In [101]:
fix.shape

(298, 17)

In [102]:
fix["country"].value_counts()

Facts\n\n\n\nCountry\nJapan                                                                                                                                                                 10
Facts\n\n\n\nCountry\nJapan\n\n\n\nColouring\nYes                                                                                                                                            8
Facts\n\n\n\nCountry\nIndia\n\n\n\nColouring\nNo                                                                                                                                             6
Facts\n\n\n\nBottler\nDistillery Bottling\n\n\n\nCountry\nSweden\n\n\n\nColouring\nNo                                                                                                        4
Facts\n\n\n\nCountry\nSwitzerland                                                                                                                                                            4
                                                                                                                                                                                            ..
Facts\n\n\n\nBottler\nNagahama\n\n\n\nCountry\nJapan\n\n\n\nCask Type\nCherry Finish\n\n\n\nChill Filtered\nNo\n\n\n\nColouring\nNo                                                          1
Facts\n\n\n\nVintage\n2016\n\n\n\nBottling Date\nJanuary 2021\n\n\n\nCountry\nSwitzerland\n\n\n\nCask Type\nPedro Ximenez Sherry\n\n\n\nCask Number\n564\n\n\n\nColouring\nNo                1
Facts\n\n\n\nSeries\nThe One\n\n\n\nCountry\nEngland\n\n\n\nCask Type\nFirst-fill Port Finish\n\n\n\nChill Filtered\nNo\n\n\n\nColouring\nNo\n\n\n\nSustainability\nSustainably Produced     1
Facts\n\n\n\nSeries\nResearch Series\n\n\n\nVintage\n2016\n\n\n\nBottling Date\nAugust 2020\n\n\n\nCountry\nDenmark                                                                          1
Facts\n\n\n\nBottler\nDistillery Bottling\n\n\n\nCountry\nNetherlands\n\n\n\nColouring\nNo                                                                                                   1
Name: country, Length: 229, dtype: int64

In [103]:
# Regex pattern retrieves only appropriate country names
fix["country"] = fix["country"].str.extract(r".*\nCountry\n*(.+).*")

In [104]:
fix["country"].value_counts()

England         50
Sweden          34
Japan           32
India           29
France          26
Australia       21
Taiwan          17
Switzerland     13
Wales           12
Denmark         11
Israel           9
Scotland         8
New Zealand      8
Netherlands      8
Germany          5
USA              5
Finland          4
Spain            2
South Africa     2
Ireland          1
Mexico           1
Name: country, dtype: int64

In [105]:
# Concatenate original dataframe and fix dataframe
new_df = pd.concat([df,fix])

In [106]:
# Drops junk text from the new dataframe, keeps fixed elements from country column
new_df = new_df[~new_df["country"].str.contains("Country")]

In [107]:
# Some junk text still remains in country column
# Anything over a length of 13 characters contains following text below:
new_df[new_df["country"].str.len() > 13]["country"]

692     Facts\n\n\n\nRegion\nSweden\n\n\n\nColouring\nNo
700    Facts\n\n\n\nVintage\n2016\n\n\n\nBottling Dat...
711    Facts\n\n\n\nBottler\nDistillery Bottling\n\n\...
715                     Facts\n\n\n\nBottling Date\n2021
762    Facts\n\n\n\nBottler\nThat Boutique-y Whisky C...
792    Facts\n\n\n\nAge\n5 Year Old\n\n\n\nNo of Bott...
804    Facts\n\n\n\nBottler\nDistillery Bottling\n\n\...
811    Facts\n\n\n\nBottler\nWhisky Magazine\n\n\n\nA...
Name: country, dtype: object

In [108]:
# Drops rows with index positions in list below
new_df = new_df.drop([692, 700, 711, 715, 762, 792, 804, 811])

In [109]:
# Country frequency (cleaned)
new_df["country"].value_counts(dropna=False)

United States    240
Ireland          169
England           98
Japan             55
India             53
Taiwan            34
Sweden            34
France            26
Canada            24
Australia         21
Switzerland       13
Wales             12
Denmark           11
Israel             9
New Zealand        8
Scotland           8
Netherlands        8
USA                5
Germany            5
Finland            4
South Africa       2
Spain              2
Mexico             1
Name: country, dtype: int64

### Drop columns

In [110]:
# Drops original, unaltered columns
cols = [
    "rating",
    "price",
    "price_per_litre",
    ]

new_df = new_df.drop(columns=cols)

In [111]:
new_df

,name,style,size,alohol_percentage,in_stock,customer_item_limit,description,date_scraped,country,organic,average_rating,totaL_reviews,price_usd,per_litre_usd
0,Eagle Rare 10 Year Old,Kentucky Straight Bourbon Whiskey,70.0,45.0,In Stock,NaN,"A top-quality bourbon from Buffalo Trace, the ...",2022-06-18,United States,NaN,4.5,51.0,49.349,70.5038
1,Jack Daniel's Old No. 7-Guitar Case,Tennessee Whiskey,70.0,40.0,In Stock,NaN,"A bottle of Jack Daniel's Old No. 7, presented...",2022-06-18,United States,NaN,5.0,2.0,48.739,69.6254
2,Woodford Reserve Distiller's Select,Kentucky Straight Bourbon Whiskey,70.0,43.2,In Stock,NaN,"Woodford Reserve is a superbly smooth, flavour...",2022-06-18,United States,NaN,5.0,97.0,43.859,62.6592
3,Gentleman Jack-Jack Daniel's,Tennessee Whiskey,70.0,40.0,In Stock,NaN,Twice run through Jack Daniels’ trademark mapl...,2022-06-18,United States,NaN,4.5,230.0,40.199,57.4254
4,Jack Daniel's Legacy Sour Mash-Edition 3,Tennessee Whiskey,70.0,43.0,In Stock,NaN,A special limited-edition bottle of Jack Danie...,2022-06-18,United States,NaN,NaN,NaN,34.099,48.7146
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
828,Zuidam Millstone 100 Rye,Distillery Bottling,70.0,50.0,In Stock,NaN,"A rye whisky from Dutch producer Zuidam, obses...",2022-06-18,Netherlands,NaN,5.0,2.0,109.739,156.7700
829,Paul John Edited,Indian Single Malt Whisky-Distillery Bottling,70.0,46.0,In Stock,NaN,The ongoing semi-peated whisky from Indian dis...,2022-06-18,India,NaN,NaN,NaN,50.935,72.7608
830,Spirit of Hven Urania Swedish Whisky,Swedish Single Malt Whisky-Distillery Bottling,50.0,45.0,In Stock,1.0,The first release of the Spirit of Hven Urania...,2022-06-18,Sweden,NaN,NaN,NaN,183.000,366.0000
831,Amrut Cask Strength,Indian Single Malt Whisky,70.0,61.8,In Stock,NaN,Continuing the run of impressive cask strength...,2022-06-18,India,NaN,5.0,5.0,88.999,127.1362
832,Amrut Peated,Indian Single Malt Whisky,70.0,46.0,In Stock,NaN,The new 46% Amruts are a very different propos...,2022-06-18,India,NaN,4.5,7.0,75.579,107.9700

### Column renaming

In [112]:
# Rename columns
cols ={
    "name":"product",
    "size":"size_cl",
    "alohol_percentage":"alcohol_percentage"
    }
        
        

new_df = new_df.rename(columns=cols)

In [113]:
# Reorder dataframe to original
new_df = new_df[
    [
        "product",
        "style",
        "size_cl",
        "alcohol_percentage",
        "average_rating",
        "totaL_reviews",
        "in_stock",
        "price_usd",
        "per_litre_usd",
        "customer_item_limit",
        "description",
        "date_scraped",
        "country",
        "organic"
        ]
        ]

In [114]:
new_df.head()

,product,style,size_cl,alcohol_percentage,average_rating,totaL_reviews,in_stock,price_usd,per_litre_usd,customer_item_limit,description,date_scraped,country,organic
0,Eagle Rare 10 Year Old,Kentucky Straight Bourbon Whiskey,70.0,45.0,4.5,51.0,In Stock,49.349,70.5038,NaN,"A top-quality bourbon from Buffalo Trace, the ...",2022-06-18,United States,NaN
1,Jack Daniel's Old No. 7-Guitar Case,Tennessee Whiskey,70.0,40.0,5.0,2.0,In Stock,48.739,69.6254,NaN,"A bottle of Jack Daniel's Old No. 7, presented...",2022-06-18,United States,NaN
2,Woodford Reserve Distiller's Select,Kentucky Straight Bourbon Whiskey,70.0,43.2,5.0,97.0,In Stock,43.859,62.6592,NaN,"Woodford Reserve is a superbly smooth, flavour...",2022-06-18,United States,NaN
3,Gentleman Jack-Jack Daniel's,Tennessee Whiskey,70.0,40.0,4.5,230.0,In Stock,40.199,57.4254,NaN,Twice run through Jack Daniels’ trademark mapl...,2022-06-18,United States,NaN
4,Jack Daniel's Legacy Sour Mash-Edition 3,Tennessee Whiskey,70.0,43.0,NaN,NaN,In Stock,34.099,48.7146,NaN,A special limited-edition bottle of Jack Danie...,2022-06-18,United States,NaN

In [61]:
# Cleaned dataframe to csv file
new_df.to_csv("whisky_products_cleaned.csv", index = False)

In [34]:
cognac = pd.read_csv("cognac.csv", na_values=["no rating", "no limit", "n/a"])
malt_blended = pd.read_csv("malt_blended.csv", na_values=["no rating", "no limit", "n/a"])
scotch_whisky_blended = pd.read_csv("scotch_whisky_blended.csv", na_values=["no rating", "no limit", "n/a"])
scotch_whisky = pd.read_csv("scotch_whisky.csv", na_values=["no rating", "no limit", "n/a"])

In [35]:
cog = cognac.copy()
malt = malt_blended.copy()
blend = scotch_whisky_blended.copy()
scotch = scotch_whisky.copy()

In [36]:
cog.head()

,name,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,country,date_scraped
0,Hine Rare VSOP Cognac,NaN,70cl / 40%,70cl / 40%,4.5\n\n\n(33 Reviews),In Stock,£47.45,(£67.79 per litre),NaN,"A terrific VSOP from Hine, Rare is classed as ...",Facts\n\n\n\nCountry\nFrance\n\n\n\nRegion\nFi...,2022-06-22
1,Hennessy VSOP Privilege Cognac,NaN,70cl / 40%,70cl / 40%,4.5\n\n\n(2 Reviews),In Stock,£54.95,(£78.50 per litre),NaN,Hennessy VSOP Privilège is a well-balanced ble...,Facts\n\n\n\nCountry\nFrance\n\n\n\nCertificat...,2022-06-22
2,Courvoisier XO Cognac,NaN,70cl / 40%,70cl / 40%,4.5\n\n\n(17 Reviews),In Stock,£115,(£164.29 per litre),NaN,"Rich and full-bodied, yet still exceptionally ...",Facts\n\n\n\nCountry\nFrance\n\n\n\nColouring\...,2022-06-22
3,Hennessy XO Cognac,NaN,70cl / 40%,70cl / 40%,5\n\n\n(48 Reviews),In Stock,£162,(£231.43 per litre),Maximum 6 per customer,"The original 'extra-old' cognac, first bottled...",Facts\n\n\n\nCountry\nFrance\n\n\n\nColouring\...,2022-06-22
4,Remy Martin XO Cognac,NaN,70cl / 40%,70cl / 40%,5\n\n\n(22 Reviews),In Stock,£164,(£234.29 per litre),NaN,"Aged for longer than the XO Special, this Fine...",Facts\n\n\n\nCountry\nFrance\n\n\n\nColouring\...,2022-06-22

In [9]:
cog["size"].nunique()

113

### Size and Style

In [37]:
# First split data by forward slash
# Retrieve the first element of the split column
# Remove the cl character of this first element
# Cast as float
# Reassign as a new column
cog["size_cl"] = cog["size"].str.split("/").str[0].str.replace("cl","").astype(float)

In [38]:
# First split data by forward slash
# Retrieve the second element of the split column
# Remove the % character of this second element
# Cast as float
# Reassign as a new column
cog["alcohol_percentage"] = cog["size"].str.split("/").str[1].str.replace("%","").astype(float)

In [33]:
cog.head()

,name,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,country,date_scraped,size_new,alcohol_percentage
0,Hine Rare VSOP Cognac,NaN,70cl / 40%,70cl / 40%,4.5\n\n\n(33 Reviews),In Stock,£47.45,(£67.79 per litre),NaN,"A terrific VSOP from Hine, Rare is classed as ...",Facts\n\n\n\nCountry\nFrance\n\n\n\nRegion\nFi...,2022-06-22,70.0,40.0
1,Hennessy VSOP Privilege Cognac,NaN,70cl / 40%,70cl / 40%,4.5\n\n\n(2 Reviews),In Stock,£54.95,(£78.50 per litre),NaN,Hennessy VSOP Privilège is a well-balanced ble...,Facts\n\n\n\nCountry\nFrance\n\n\n\nCertificat...,2022-06-22,70.0,40.0
2,Courvoisier XO Cognac,NaN,70cl / 40%,70cl / 40%,4.5\n\n\n(17 Reviews),In Stock,£115,(£164.29 per litre),NaN,"Rich and full-bodied, yet still exceptionally ...",Facts\n\n\n\nCountry\nFrance\n\n\n\nColouring\...,2022-06-22,70.0,40.0
3,Hennessy XO Cognac,NaN,70cl / 40%,70cl / 40%,5\n\n\n(48 Reviews),In Stock,£162,(£231.43 per litre),Maximum 6 per customer,"The original 'extra-old' cognac, first bottled...",Facts\n\n\n\nCountry\nFrance\n\n\n\nColouring\...,2022-06-22,70.0,40.0
4,Remy Martin XO Cognac,NaN,70cl / 40%,70cl / 40%,5\n\n\n(22 Reviews),In Stock,£164,(£234.29 per litre),NaN,"Aged for longer than the XO Special, this Fine...",Facts\n\n\n\nCountry\nFrance\n\n\n\nColouring\...,2022-06-22,70.0,40.0

### Rating/Reviews

In [44]:
# Retrieve first three characters of string
# Reassign as new column
cog["average_rating"] = cog["rating"].str[:3]

In [48]:
# Remove newline characters, cast as float
cog["average_rating"] = cog["average_rating"].str.replace("\n","").astype(float)

In [70]:
cog["total_reviews"] = cog["rating"].str[3:]

In [71]:
cog["total_reviews"].unique()

array(['\n\n\n(33\xa0Reviews)', '\n\n\n(2\xa0Reviews)',
       '\n\n\n(17\xa0Reviews)', '\n(48\xa0Reviews)', '\n(22\xa0Reviews)',
       nan, '\n(5\xa0Reviews)', '\n\n\n(23\xa0Reviews)',
       '\n(2\xa0Reviews)', '\n(1\xa0Review)', '\n(8\xa0Reviews)',
       '\n(10\xa0Reviews)', '\n\n\n(27\xa0Reviews)',
       '\n\n\n(3\xa0Reviews)', '\n\n\n(8\xa0Reviews)',
       '\n\n\n(29\xa0Reviews)', '\n\n\n(15\xa0Reviews)',
       '\n(3\xa0Reviews)', '\n\n\n(5\xa0Reviews)', '\n(4\xa0Reviews)',
       '\n(12\xa0Reviews)', '\n\n\n(6\xa0Reviews)', '\n(37\xa0Reviews)',
       '\n\n\n(4\xa0Reviews)', '\n(9\xa0Reviews)'], dtype=object)

In [85]:
# Remove newlines, paranthesis, and following string characters
# Cast as float
cog["total_reviews"] = cog["total_reviews"].str.replace("\n","").str.replace(")","",regex=True)\
                                                                .str.replace("(","",regex=True)\
                                                                .str.replace("Reviews","",regex=True)\
                                                                .str[:2].str.replace("\xa0","").astype(float)

### Price/price per litre

In [90]:
# Remove £ and commas
# Reassign to new column
# Cast as float
cog["price_usd"] = cog["price"].str.replace("£","").str.replace(",","").astype(float)

In [93]:
# Split on whitespace and retrieve first element
# Reassign to new column
cog["per_litre_usd"] = cog["price_per_litre"].str.split(" ").str[0]

In [100]:
# Remove paranthesis, £, and commas
# Cast as float
# Reassign to new column
cog["per_litre_usd"] = cog["per_litre_usd"].str.replace("(","",regex=True).str.replace("£","").str.replace(",","").astype(float)

### Item limits

In [105]:
cog["customer_item_limit"] = cog["customer_item_limit"].str.split(" ").str[1].astype(float)

In [108]:
cog.shape

(645, 18)

### Country

In [110]:
cog["new_country"] = cog["country"].str.extract(r".*\nCountry\n*(.+).*")

In [111]:
cog.head()

,name,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,country,date_scraped,size_cl,alcohol_percentage,average_rating,total_reviews,price_usd,per_litre_usd,new_country
0,Hine Rare VSOP Cognac,NaN,70cl / 40%,70cl / 40%,4.5\n\n\n(33 Reviews),In Stock,£47.45,(£67.79 per litre),NaN,"A terrific VSOP from Hine, Rare is classed as ...",Facts\n\n\n\nCountry\nFrance\n\n\n\nRegion\nFi...,2022-06-22,70.0,40.0,4.5,33.0,47.45,67.79,France
1,Hennessy VSOP Privilege Cognac,NaN,70cl / 40%,70cl / 40%,4.5\n\n\n(2 Reviews),In Stock,£54.95,(£78.50 per litre),NaN,Hennessy VSOP Privilège is a well-balanced ble...,Facts\n\n\n\nCountry\nFrance\n\n\n\nCertificat...,2022-06-22,70.0,40.0,4.5,2.0,54.95,78.50,France
2,Courvoisier XO Cognac,NaN,70cl / 40%,70cl / 40%,4.5\n\n\n(17 Reviews),In Stock,£115,(£164.29 per litre),NaN,"Rich and full-bodied, yet still exceptionally ...",Facts\n\n\n\nCountry\nFrance\n\n\n\nColouring\...,2022-06-22,70.0,40.0,4.5,17.0,115.00,164.29,France
3,Hennessy XO Cognac,NaN,70cl / 40%,70cl / 40%,5\n\n\n(48 Reviews),In Stock,£162,(£231.43 per litre),6.0,"The original 'extra-old' cognac, first bottled...",Facts\n\n\n\nCountry\nFrance\n\n\n\nColouring\...,2022-06-22,70.0,40.0,5.0,48.0,162.00,231.43,France
4,Remy Martin XO Cognac,NaN,70cl / 40%,70cl / 40%,5\n\n\n(22 Reviews),In Stock,£164,(£234.29 per litre),NaN,"Aged for longer than the XO Special, this Fine...",Facts\n\n\n\nCountry\nFrance\n\n\n\nColouring\...,2022-06-22,70.0,40.0,5.0,22.0,164.00,234.29,France

In [115]:
cog = cog.rename({"name":"product"},axis=1)

In [123]:
cog = cog[
    [
        "product",
        "style",
        "size_cl",
        "alcohol_percentage",
        "average_rating",
        "total_reviews",
        "in_stock",
        "price_usd",
        "per_litre_usd",
        "customer_item_limit",
        "description",
        "date_scraped",
        "new_country"
        ]
        ]

In [125]:
cog["product"] = cog["product"].str.replace("\n","-")

C:\Users\Crypt-Logic\AppData\Local\Temp\ipykernel_21984\2862939490.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cog["product"] = cog["product"].str.replace("\n","-")

In [128]:
cog = cog.rename({"new_country":"country"}, axis=1)

In [129]:
cog

,product,style,size_cl,alcohol_percentage,average_rating,total_reviews,in_stock,price_usd,per_litre_usd,customer_item_limit,description,date_scraped,country
0,Hine Rare VSOP Cognac,NaN,70.0,40.0,4.5,33.0,In Stock,47.45,67.79,NaN,"A terrific VSOP from Hine, Rare is classed as ...",2022-06-22,France
1,Hennessy VSOP Privilege Cognac,NaN,70.0,40.0,4.5,2.0,In Stock,54.95,78.50,NaN,Hennessy VSOP Privilège is a well-balanced ble...,2022-06-22,France
2,Courvoisier XO Cognac,NaN,70.0,40.0,4.5,17.0,In Stock,115.00,164.29,NaN,"Rich and full-bodied, yet still exceptionally ...",2022-06-22,France
3,Hennessy XO Cognac,NaN,70.0,40.0,5.0,48.0,In Stock,162.00,231.43,6.0,"The original 'extra-old' cognac, first bottled...",2022-06-22,France
4,Remy Martin XO Cognac,NaN,70.0,40.0,5.0,22.0,In Stock,164.00,234.29,NaN,"Aged for longer than the XO Special, this Fine...",2022-06-22,France
...,...,...,...,...,...,...,...,...,...,...,...,...,...
640,Courvoisier Erte Cognac No.2-Vendanges,NaN,70.0,40.0,NaN,NaN,In Stock,1250.00,1785.71,NaN,Part of a set of limited edition Courvoisier b...,2022-06-22,France
641,Courvoisier Erte Cognac No.1-Vigne,NaN,75.0,40.0,5.0,2.0,In Stock,2250.00,3000.00,NaN,Part of a set of limited edition Courvoisier b...,2022-06-22,France
642,Courvoisier Erte Cognac No.1-Vigne,NaN,75.0,40.0,5.0,4.0,In Stock,2000.00,2666.67,NaN,Part of a set of limited edition Courvoisier b...,2022-06-22,France
643,Chateau de Beaulon XO Premier Cognac,NaN,70.0,40.0,4.0,4.0,In Stock,71.95,102.79,NaN,Quality Fin Bois Cru Cognac from a great house...,2022-06-22,France
644,AE Dor No.7 Cognac,NaN,70.0,42.0,NaN,NaN,In Stock,290.00,414.29,NaN,A rich and leathery entry in AE Dor's Vieilles...,2022-06-22,France

In [17]:
malt.head()

,name,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,country,date_scraped
0,Monkey Shoulder,Blended Malt Scotch Whisky,70cl,40%,4.5\n\n\n(434 Reviews),In Stock,£27.75,(£39.64 per litre),NaN,Monkey Shoulder is a mix of three different Sp...,Facts\n\n\n\nCountry\nScotland\n\n\n\nColourin...,2022-06-23
1,Johnnie Walker Green Label 15 Year Old,Blended Malt Scotch Whisky,70cl,43%,4.5\n\n\n(46 Reviews),In Stock,£41.95,(£59.93 per litre),NaN,"Relaunched in 2016, Green Label is arguably th...",Facts\n\n\n\nAge\n15 Year Old\n\n\n\nCountry\n...,2022-06-23
2,Johnnie Walker Green Label 15 Year Old,NaN,70cl,43%,NaN,In Stock,£41.95,NaN,NaN,"Relaunched in 2016, Green Label is arguably th...",Facts\n\n\n\nAge\n15 Year Old\n\n\n\nCountry\n...,2022-06-23
3,Copper Dog,Speyside Blended Malt Scotch Whisky,70cl,40%,4.5\n\n\n(85 Reviews),In Stock,£29.95,(£42.79 per litre),NaN,Copper Dog is a Scotch whisky that sums up all...,Facts\n\n\n\nCountry\nScotland\n\n\n\nRegion\n...,2022-06-23
4,Naked Malt Blended Malt,Blended Malt Scotch Whisky,70cl,40%,NaN,In Stock,£26.95,(£38.50 per litre),NaN,"A fruity, bold blended malt whisky that has be...",Facts\n\n\n\nCountry\nScotland\n\n\n\nCask Typ...,2022-06-23

In [18]:
blend.head()

,name,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,country,date_scraped
0,Johnnie Walker Blue Label,Blended Scotch Whisky,70cl,40%,4.5\n\n\n(170 Reviews),In Stock,£155,(£221.43 per litre),NaN,Johnnie Walker's most prestigious whisky. Prob...,Facts\n\n\n\nCountry\nScotland\n\n\n\nColourin...,2022-06-22
1,Johnnie Walker Gold Label Reserve,Blended Scotch Whisky,70cl,40%,4\n\n\n(67 Reviews),In Stock,£44.45,(£63.50 per litre),NaN,Johnnie Walker Gold Label was relaunched in 20...,Facts\n\n\n\nCountry\nScotland\n\n\n\nColourin...,2022-06-22
2,Johnnie Walker Blue Label\nLimited Edition 2 G...,Blended Scotch Whisky,70cl,40%,2\n\n\n(1 Review),In Stock,£155,(£221.43 per litre),NaN,A lovely gift set including a bottle of the fa...,Facts\n\n\n\nCountry\nScotland\n\n\n\nColourin...,2022-06-22
3,Johnnie Walker Black Label 12 Year Old,Blended Scotch Whisky,70cl,40%,4\n\n\n(186 Reviews),In Stock,£27.95,(£39.93 per litre),NaN,Johnnie Walker Black Label's iconic square bot...,Facts\n\n\n\nAge\n12 Year Old\n\n\n\nCountry\n...,2022-06-22
4,Johnnie Walker Double Black,Blended Scotch Whisky,70cl,40%,4.5\n\n\n(109 Reviews),In Stock,£32.95,(£47.07 per litre),NaN,An interesting twist on Johnnie Walker Black L...,Facts\n\n\n\nCountry\nScotland\n\n\n\nColourin...,2022-06-22

In [19]:
scotch.head()

,name,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,country,date_scraped
0,Deanston 18 Year Old,Highland Single Malt Scotch Whisky\nDistillery...,70cl / 46.3%,70cl / 40%,4.5\n\n\n(5 Reviews),In Stock,£63.95,(£91.36 per litre),NaN,"Our Whisky of the Year for 2022, this 18-year-...",Facts\n\n\n\nBottler\nDistillery Bottling\n\n\...,2022-06-22
1,Lagavulin 16 Year Old,Islay Single Malt Scotch Whisky\nDistillery Bo...,70cl / 43%,70cl / 40%,4.5\n\n\n(355 Reviews),In Stock,£74.95,(£107.07 per litre),NaN,The Islay representative in the 'Classic Malts...,Facts\n\n\n\nBottler\nDistillery Bottling\n\n\...,2022-06-22
2,Balvenie 16 Year Old French Oak\nPineau Cask F...,Speyside Single Malt Scotch Whisky\nDistillery...,70cl / 47.6%,70cl / 40%,NaN,In Stock,£123,(£175.71 per litre),Maximum 2 per customer,A 16-year-old single malt from Balvenie's Cask...,Facts\n\n\n\nBottler\nDistillery Bottling\n\n\...,2022-06-22
3,Lagavulin 2006 Distillers Edition\nBot.2021,Islay Single Malt Scotch Whisky\nDistillery Bo...,70cl / 43%,70cl / 40%,5\n\n\n(3 Reviews),In Stock,£89.95,(£128.50 per litre),NaN,A 2006 Distillers Edition Lagavulin single mal...,Facts\n\n\n\nBottler\nDistillery Bottling\n\n\...,2022-06-22
4,Lagavulin 2006 Distillers Edition\nBot.2021,NaN,70cl / 43%,70cl / 40%,NaN,In Stock,£89.95,NaN,NaN,A 2006 Distillers Edition Lagavulin single mal...,Facts\n\n\n\nBottler\nDistillery Bottling\n\n\...,2022-06-22