In [59]:
import pandas as pd
import os
import glob

#path = r"...notebooks\whisky" # use your path
#all_files = glob.glob(os.path.join(path, "*.csv"))     # advisable to use os.path.join as this makes concatenation OS independent

# Read csv files for each one in the file path
#df_from_each_file = (pd.read_csv(f) for f in all_files)

# Concatenate dataframes
#concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)

In [60]:
#concatenated_df.head()

In [61]:
#concatenated_df.tail()

In [62]:
# Create new csv file from concatenated dataframes
# Need to only run one time
#concatenated_df.to_csv("whisky_products.csv", index=False)

In [63]:
# Load csv file
whisky = pd.read_csv("whisky_products.csv", na_values=["no rating", "no limit", "n/a"]) # nan values set manually

### Data cleaning

In [64]:
whisky.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 850 non-null    object
 1   style                822 non-null    object
 2   size                 850 non-null    object
 3   alohol_percentage    850 non-null    object
 4   rating               369 non-null    object
 5   in_stock             850 non-null    object
 6   price                850 non-null    object
 7   price_per_litre      841 non-null    object
 8   customer_item_limit  71 non-null     object
 9   description          845 non-null    object
 10  date_scraped         850 non-null    object
 11  country              682 non-null    object
 12  organic              18 non-null     object
dtypes: object(13)
memory usage: 1005.6 KB

In [65]:
whisky

,name,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,date_scraped,country,organic
0,Eagle Rare 10 Year Old,Kentucky Straight Bourbon Whiskey,70cl,45%,4.5\n\n\n(51 Reviews),In Stock,£40.45,(£57.79 per litre),NaN,"A top-quality bourbon from Buffalo Trace, the ...",2022-06-18,United States,NaN
1,Jack Daniel's Old No. 7\nGuitar Case,Tennessee Whiskey,70cl,40%,5\n\n\n(2 Reviews),In Stock,£39.95,(£57.07 per litre),NaN,"A bottle of Jack Daniel's Old No. 7, presented...",2022-06-18,United States,NaN
2,Woodford Reserve Distiller's Select,Kentucky Straight Bourbon Whiskey,70cl,43.2%,5\n\n\n(97 Reviews),In Stock,£35.95,(£51.36 per litre),NaN,"Woodford Reserve is a superbly smooth, flavour...",2022-06-18,United States,NaN
3,Gentleman Jack\nJack Daniel's,Tennessee Whiskey,70cl,40%,4.5\n\n\n(230 Reviews),In Stock,£32.95,(£47.07 per litre),NaN,Twice run through Jack Daniels’ trademark mapl...,2022-06-18,United States,NaN
4,Jack Daniel's Legacy Sour Mash\nEdition 3,Tennessee Whiskey,70cl,43%,NaN,In Stock,£27.95,(£39.93 per litre),NaN,A special limited-edition bottle of Jack Danie...,2022-06-18,United States,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
845,Kavalan Ex-Bourbon Oak,Taiwanese Single Malt Whisky\nDistillery Bottling,70cl,46%,NaN,In Stock,£84.45,(£120.64 per litre),NaN,A Taiwanese single malt from Kavalan distiller...,2022-06-17,Taiwan,NaN
846,Kavalan Solist Port Cask #015A (2010)\n10 Year...,Taiwanese Single Malt Whisky\nDistillery Bottling,70cl,56.3%,NaN,In Stock,£159,(£227.14 per litre),NaN,A 2010 Kavalan Taiwanese single malt that was ...,2022-06-17,Taiwan,NaN
847,Kavalan King Car Conductor,Taiwanese Single Malt Whisky,70cl,46%,4\n\n\n(1 Review),In Stock,£81.95,(£117.07 per litre),NaN,A single malt whisky from King Car's Kavalan d...,2022-06-17,Taiwan,NaN
848,Kavalan Concertmaster\nPort Finish Half Litre,Single Malt Taiwanese Whisky,50cl,40%,5\n\n\n(1 Review),In Stock,£51.95,(£103.90 per litre),NaN,A half-litre bottle of port-finished whisky fr...,2022-06-17,Taiwan,NaN
849,Kavalan Solist Moscatel Cask #031A\n(2010),Taiwanese Single Malt Whisky\nDistillery Bottling,70cl,56.3%,NaN,In Stock,£370,(£528.57 per litre),NaN,"Released in 2016, this bottling of Kavalan Sol...",2022-06-17,Taiwan,NaN

In [66]:
# Create a copy
df = whisky.copy()

### Name column

In [67]:
# Replace new line character with dash
df["name"] = df["name"].str.replace("\n", "-")

In [68]:
# Strip any whitespace
df["name"] = df["name"].str.strip()

In [69]:
df["name"].sample(10)

267          The Lakes The Whiskymaker's Editions Mosaic
49                                  High West Double Rye
139       St George Breaking & Entering American Whiskey
299    The English Original Single Malt Whisky-Hip Fl...
43     Willett's Pot Still Reserve Single Barrel Bourbon
577                                        Penderyn Celt
193            Old Oscar Pepper 1911-6 Year Old Bot.1917
718                        Bimber Apogee XII-12 Year Old
298                     The Norfolk Parched Single Grain
643                       Seven Seals The Age of Scorpio
Name: name, dtype: object

In [70]:
# Unique product names
df["name"].nunique()

749

### Style column

In [71]:
# Strip and replace newline and whitespace
df["style"] = df["style"].str.replace("\n", "-").str.strip()

### Size Column

In [72]:
# Frequency of bottle sizes
df["size"].value_counts()

70cl    619
50cl    103
75cl     85
100c      9
35cl      7
20cl      6
37.5      5
94.6      3
60cl      2
75.7      2
3cl       2
150c      2
110c      1
300c      1
450c      1
40cl      1
175c      1
Name: size, dtype: int64

In [73]:
# Remove trailing "cl" charcaters
# Cast as float
df["size"] = df["size"].str.replace("cl", "").str.replace("c","").astype(float)

In [74]:
df["size"].dtype

dtype('float64')

### Alcohol %

In [75]:
# Remove percent and slash characters
# Cast as float
df["alohol_percentage"] = df["alohol_percentage"].str.replace("/","").str.replace("%","").str.strip().astype(float)

In [76]:
df.head()

,name,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,date_scraped,country,organic
0,Eagle Rare 10 Year Old,Kentucky Straight Bourbon Whiskey,70.0,45.0,4.5\n\n\n(51 Reviews),In Stock,£40.45,(£57.79 per litre),NaN,"A top-quality bourbon from Buffalo Trace, the ...",2022-06-18,United States,NaN
1,Jack Daniel's Old No. 7-Guitar Case,Tennessee Whiskey,70.0,40.0,5\n\n\n(2 Reviews),In Stock,£39.95,(£57.07 per litre),NaN,"A bottle of Jack Daniel's Old No. 7, presented...",2022-06-18,United States,NaN
2,Woodford Reserve Distiller's Select,Kentucky Straight Bourbon Whiskey,70.0,43.2,5\n\n\n(97 Reviews),In Stock,£35.95,(£51.36 per litre),NaN,"Woodford Reserve is a superbly smooth, flavour...",2022-06-18,United States,NaN
3,Gentleman Jack-Jack Daniel's,Tennessee Whiskey,70.0,40.0,4.5\n\n\n(230 Reviews),In Stock,£32.95,(£47.07 per litre),NaN,Twice run through Jack Daniels’ trademark mapl...,2022-06-18,United States,NaN
4,Jack Daniel's Legacy Sour Mash-Edition 3,Tennessee Whiskey,70.0,43.0,NaN,In Stock,£27.95,(£39.93 per litre),NaN,A special limited-edition bottle of Jack Danie...,2022-06-18,United States,NaN

### Ratings/reviews

In [77]:
# Get first three string elements
df["average_rating"] = df["rating"].str[:3]

In [78]:
df["average_rating"]

0        4.5
1      5\n\n
2      5\n\n
3        4.5
4        NaN
       ...
845      NaN
846      NaN
847    4\n\n
848    5\n\n
849      NaN
Name: average_rating, Length: 850, dtype: object

In [79]:
# Get remaining string elements past index three
df["totaL_reviews"] = df["rating"].str[3:]

In [80]:
df.head()

,name,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,date_scraped,country,organic,average_rating,totaL_reviews
0,Eagle Rare 10 Year Old,Kentucky Straight Bourbon Whiskey,70.0,45.0,4.5\n\n\n(51 Reviews),In Stock,£40.45,(£57.79 per litre),NaN,"A top-quality bourbon from Buffalo Trace, the ...",2022-06-18,United States,NaN,4.5,\n\n\n(51 Reviews)
1,Jack Daniel's Old No. 7-Guitar Case,Tennessee Whiskey,70.0,40.0,5\n\n\n(2 Reviews),In Stock,£39.95,(£57.07 per litre),NaN,"A bottle of Jack Daniel's Old No. 7, presented...",2022-06-18,United States,NaN,5\n\n,\n(2 Reviews)
2,Woodford Reserve Distiller's Select,Kentucky Straight Bourbon Whiskey,70.0,43.2,5\n\n\n(97 Reviews),In Stock,£35.95,(£51.36 per litre),NaN,"Woodford Reserve is a superbly smooth, flavour...",2022-06-18,United States,NaN,5\n\n,\n(97 Reviews)
3,Gentleman Jack-Jack Daniel's,Tennessee Whiskey,70.0,40.0,4.5\n\n\n(230 Reviews),In Stock,£32.95,(£47.07 per litre),NaN,Twice run through Jack Daniels’ trademark mapl...,2022-06-18,United States,NaN,4.5,\n\n\n(230 Reviews)
4,Jack Daniel's Legacy Sour Mash-Edition 3,Tennessee Whiskey,70.0,43.0,NaN,In Stock,£27.95,(£39.93 per litre),NaN,A special limited-edition bottle of Jack Danie...,2022-06-18,United States,NaN,NaN,NaN

In [81]:
# Remove newline characters
# Cast as flot
df["average_rating"] = df["average_rating"].str.replace("\n","").astype(float)

In [82]:
# Remove paranthesis and additional string elements
# Cast as float
df["totaL_reviews"] = df["totaL_reviews"].str.replace("\n","", regex=True)\
                   .str.replace("(","", regex=True)\
                   .str.replace(")","", regex=True)\
                   .str.replace("Reviews","")\
                   .str.replace("Review","")\
                   .astype(float)

In [83]:
df.head()

,name,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,date_scraped,country,organic,average_rating,totaL_reviews
0,Eagle Rare 10 Year Old,Kentucky Straight Bourbon Whiskey,70.0,45.0,4.5\n\n\n(51 Reviews),In Stock,£40.45,(£57.79 per litre),NaN,"A top-quality bourbon from Buffalo Trace, the ...",2022-06-18,United States,NaN,4.5,51.0
1,Jack Daniel's Old No. 7-Guitar Case,Tennessee Whiskey,70.0,40.0,5\n\n\n(2 Reviews),In Stock,£39.95,(£57.07 per litre),NaN,"A bottle of Jack Daniel's Old No. 7, presented...",2022-06-18,United States,NaN,5.0,2.0
2,Woodford Reserve Distiller's Select,Kentucky Straight Bourbon Whiskey,70.0,43.2,5\n\n\n(97 Reviews),In Stock,£35.95,(£51.36 per litre),NaN,"Woodford Reserve is a superbly smooth, flavour...",2022-06-18,United States,NaN,5.0,97.0
3,Gentleman Jack-Jack Daniel's,Tennessee Whiskey,70.0,40.0,4.5\n\n\n(230 Reviews),In Stock,£32.95,(£47.07 per litre),NaN,Twice run through Jack Daniels’ trademark mapl...,2022-06-18,United States,NaN,4.5,230.0
4,Jack Daniel's Legacy Sour Mash-Edition 3,Tennessee Whiskey,70.0,43.0,NaN,In Stock,£27.95,(£39.93 per litre),NaN,A special limited-edition bottle of Jack Danie...,2022-06-18,United States,NaN,NaN,NaN

### Price/price per litre

In [84]:
# Remove pound currency and additional comma
# Cast as float
df["price"] = df["price"].str.replace("£","")\
                         .str.replace(",","")\
                         .astype(float)

In [85]:
df["price"].describe()

count      850.000000
mean       268.840765
std       2158.189341
min          5.750000
25%         43.450000
50%         59.950000
75%         84.950000
max      60000.000000
Name: price, dtype: float64

In [86]:
# Remove paranthesis, pound currency and commas
df["price_per_litre"] = df["price_per_litre"].str.replace("(","", regex=True)\
                                             .str.replace(")","", regex=True)\
                                             .str.replace("£","")\
                                             .str.replace(",","")

In [87]:
# Split on whitespace and retrieve first element of list
df["price_per_litre"] = df["price_per_litre"].str.split(" ").str[0]

In [88]:
# Cast as float
df["price_per_litre"] = df["price_per_litre"].astype(float)

In [89]:
df.head()

,name,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,date_scraped,country,organic,average_rating,totaL_reviews
0,Eagle Rare 10 Year Old,Kentucky Straight Bourbon Whiskey,70.0,45.0,4.5\n\n\n(51 Reviews),In Stock,40.45,57.79,NaN,"A top-quality bourbon from Buffalo Trace, the ...",2022-06-18,United States,NaN,4.5,51.0
1,Jack Daniel's Old No. 7-Guitar Case,Tennessee Whiskey,70.0,40.0,5\n\n\n(2 Reviews),In Stock,39.95,57.07,NaN,"A bottle of Jack Daniel's Old No. 7, presented...",2022-06-18,United States,NaN,5.0,2.0
2,Woodford Reserve Distiller's Select,Kentucky Straight Bourbon Whiskey,70.0,43.2,5\n\n\n(97 Reviews),In Stock,35.95,51.36,NaN,"Woodford Reserve is a superbly smooth, flavour...",2022-06-18,United States,NaN,5.0,97.0
3,Gentleman Jack-Jack Daniel's,Tennessee Whiskey,70.0,40.0,4.5\n\n\n(230 Reviews),In Stock,32.95,47.07,NaN,Twice run through Jack Daniels’ trademark mapl...,2022-06-18,United States,NaN,4.5,230.0
4,Jack Daniel's Legacy Sour Mash-Edition 3,Tennessee Whiskey,70.0,43.0,NaN,In Stock,27.95,39.93,NaN,A special limited-edition bottle of Jack Danie...,2022-06-18,United States,NaN,NaN,NaN

### Convert British pounds to US dollars (price, and price per litre)

In [90]:
# June 18, 2022 exchange rate
# 1 GBP = 1.22 USD
# 1 * 1.22

In [91]:
# Price
# Multiply british currency by 1.22 to calculate US dollar conversion
df["price_usd"] = df["price"] * 1.22

In [92]:
# Price per litre
# Multiply british currency by 1.22 to calculate US dollar conversion
df["per_litre_usd"] = df["price_per_litre"] * 1.22

In [93]:
df.head()

,name,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,date_scraped,country,organic,average_rating,totaL_reviews,price_usd,per_litre_usd
0,Eagle Rare 10 Year Old,Kentucky Straight Bourbon Whiskey,70.0,45.0,4.5\n\n\n(51 Reviews),In Stock,40.45,57.79,NaN,"A top-quality bourbon from Buffalo Trace, the ...",2022-06-18,United States,NaN,4.5,51.0,49.349,70.5038
1,Jack Daniel's Old No. 7-Guitar Case,Tennessee Whiskey,70.0,40.0,5\n\n\n(2 Reviews),In Stock,39.95,57.07,NaN,"A bottle of Jack Daniel's Old No. 7, presented...",2022-06-18,United States,NaN,5.0,2.0,48.739,69.6254
2,Woodford Reserve Distiller's Select,Kentucky Straight Bourbon Whiskey,70.0,43.2,5\n\n\n(97 Reviews),In Stock,35.95,51.36,NaN,"Woodford Reserve is a superbly smooth, flavour...",2022-06-18,United States,NaN,5.0,97.0,43.859,62.6592
3,Gentleman Jack-Jack Daniel's,Tennessee Whiskey,70.0,40.0,4.5\n\n\n(230 Reviews),In Stock,32.95,47.07,NaN,Twice run through Jack Daniels’ trademark mapl...,2022-06-18,United States,NaN,4.5,230.0,40.199,57.4254
4,Jack Daniel's Legacy Sour Mash-Edition 3,Tennessee Whiskey,70.0,43.0,NaN,In Stock,27.95,39.93,NaN,A special limited-edition bottle of Jack Danie...,2022-06-18,United States,NaN,NaN,NaN,34.099,48.7146

In [94]:
df["name"].nunique()

749

### Customer item limit

In [95]:
df["customer_item_limit"].value_counts()

Maximum 1 per customer    44
Maximum 2 per customer    21
Maximum 3 per customer     4
Maximum 6 per customer     2
Name: customer_item_limit, dtype: int64

In [96]:
# Split on whitespace, retrieve first element of list
# Cast as float
df["customer_item_limit"] = df["customer_item_limit"].str.split(" ").str[1].astype(float)

In [97]:
df.head()

,name,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,date_scraped,country,organic,average_rating,totaL_reviews,price_usd,per_litre_usd
0,Eagle Rare 10 Year Old,Kentucky Straight Bourbon Whiskey,70.0,45.0,4.5\n\n\n(51 Reviews),In Stock,40.45,57.79,NaN,"A top-quality bourbon from Buffalo Trace, the ...",2022-06-18,United States,NaN,4.5,51.0,49.349,70.5038
1,Jack Daniel's Old No. 7-Guitar Case,Tennessee Whiskey,70.0,40.0,5\n\n\n(2 Reviews),In Stock,39.95,57.07,NaN,"A bottle of Jack Daniel's Old No. 7, presented...",2022-06-18,United States,NaN,5.0,2.0,48.739,69.6254
2,Woodford Reserve Distiller's Select,Kentucky Straight Bourbon Whiskey,70.0,43.2,5\n\n\n(97 Reviews),In Stock,35.95,51.36,NaN,"Woodford Reserve is a superbly smooth, flavour...",2022-06-18,United States,NaN,5.0,97.0,43.859,62.6592
3,Gentleman Jack-Jack Daniel's,Tennessee Whiskey,70.0,40.0,4.5\n\n\n(230 Reviews),In Stock,32.95,47.07,NaN,Twice run through Jack Daniels’ trademark mapl...,2022-06-18,United States,NaN,4.5,230.0,40.199,57.4254
4,Jack Daniel's Legacy Sour Mash-Edition 3,Tennessee Whiskey,70.0,43.0,NaN,In Stock,27.95,39.93,NaN,A special limited-edition bottle of Jack Danie...,2022-06-18,United States,NaN,NaN,NaN,34.099,48.7146

### Country

In [98]:
df["country"].value_counts()

United States                                                                                                                                                                     240
England                                                                                                                                                                            48
Canada                                                                                                                                                                             24
India                                                                                                                                                                              24
Japan                                                                                                                                                                              23
                                                                                                                                                                                 ...
Facts\n\n\n\nBottler\nHardenberg Distillery\n\n\n\nCountry\nGermany\n\n\n\nCask Type\n1st Fill Bourbon                                                                              1
Facts\n\n\n\nAge\n3 Year Old\n\n\n\nBottling Date\n2019\n\n\n\nCountry\nNew Zealand\n\n\n\nChill Filtered\nNo\n\n\n\nColouring\nNo\n\n\n\nSustainability\nSustainably Produced      1
Facts\n\n\n\nCountry\nTaiwan\n\n\n\nCask Type\nSherry\n\n\n\nChill Filtered\nNo\n\n\n\nColouring\nNo                                                                                1
Facts\n\n\n\nCountry\nScotland\n\n\n\nColouring\nNo\n\n\n\nCertification\nCertified Organic                                                                                         1
Facts\n\n\n\nBottler\nThe Perfect Measure\n\n\n\nCountry\nScotland\n\n\n\nRegion\nHighland\n\n\n\nCertification\nCertified B-Corp, Certified Organic, Net Zero                      1
Name: country, Length: 243, dtype: int64

In [99]:
# Error when webscraping
# Fill null values, only null values are from Ireland country column
df["country"] = df["country"].fillna("Ireland")

In [100]:
# Set a new copy for country name retrieval
# Scraping errors produce a string of text with "Country" and other text
fix = df[df["country"].str.contains("Country")].copy()

In [101]:
fix.shape

(298, 17)

In [102]:
fix["country"].value_counts()

Facts\n\n\n\nCountry\nJapan                                                                                                                                                                 10
Facts\n\n\n\nCountry\nJapan\n\n\n\nColouring\nYes                                                                                                                                            8
Facts\n\n\n\nCountry\nIndia\n\n\n\nColouring\nNo                                                                                                                                             6
Facts\n\n\n\nBottler\nDistillery Bottling\n\n\n\nCountry\nSweden\n\n\n\nColouring\nNo                                                                                                        4
Facts\n\n\n\nCountry\nSwitzerland                                                                                                                                                            4
                                                                                                                                                                                            ..
Facts\n\n\n\nBottler\nNagahama\n\n\n\nCountry\nJapan\n\n\n\nCask Type\nCherry Finish\n\n\n\nChill Filtered\nNo\n\n\n\nColouring\nNo                                                          1
Facts\n\n\n\nVintage\n2016\n\n\n\nBottling Date\nJanuary 2021\n\n\n\nCountry\nSwitzerland\n\n\n\nCask Type\nPedro Ximenez Sherry\n\n\n\nCask Number\n564\n\n\n\nColouring\nNo                1
Facts\n\n\n\nSeries\nThe One\n\n\n\nCountry\nEngland\n\n\n\nCask Type\nFirst-fill Port Finish\n\n\n\nChill Filtered\nNo\n\n\n\nColouring\nNo\n\n\n\nSustainability\nSustainably Produced     1
Facts\n\n\n\nSeries\nResearch Series\n\n\n\nVintage\n2016\n\n\n\nBottling Date\nAugust 2020\n\n\n\nCountry\nDenmark                                                                          1
Facts\n\n\n\nBottler\nDistillery Bottling\n\n\n\nCountry\nNetherlands\n\n\n\nColouring\nNo                                                                                                   1
Name: country, Length: 229, dtype: int64

In [103]:
# Regex pattern retrieves only appropriate country names
fix["country"] = fix["country"].str.extract(r".*\nCountry\n*(.+).*")

In [104]:
fix["country"].value_counts()

England         50
Sweden          34
Japan           32
India           29
France          26
Australia       21
Taiwan          17
Switzerland     13
Wales           12
Denmark         11
Israel           9
Scotland         8
New Zealand      8
Netherlands      8
Germany          5
USA              5
Finland          4
Spain            2
South Africa     2
Ireland          1
Mexico           1
Name: country, dtype: int64

In [105]:
# Concatenate original dataframe and fix dataframe
new_df = pd.concat([df,fix])

In [106]:
# Drops junk text from the new dataframe, keeps fixed elements from country column
new_df = new_df[~new_df["country"].str.contains("Country")]

In [107]:
# Some junk text still remains in country column
# Anything over a length of 13 characters contains following text below:
new_df[new_df["country"].str.len() > 13]["country"]

692     Facts\n\n\n\nRegion\nSweden\n\n\n\nColouring\nNo
700    Facts\n\n\n\nVintage\n2016\n\n\n\nBottling Dat...
711    Facts\n\n\n\nBottler\nDistillery Bottling\n\n\...
715                     Facts\n\n\n\nBottling Date\n2021
762    Facts\n\n\n\nBottler\nThat Boutique-y Whisky C...
792    Facts\n\n\n\nAge\n5 Year Old\n\n\n\nNo of Bott...
804    Facts\n\n\n\nBottler\nDistillery Bottling\n\n\...
811    Facts\n\n\n\nBottler\nWhisky Magazine\n\n\n\nA...
Name: country, dtype: object

In [108]:
# Drops rows with index positions in list below
new_df = new_df.drop([692, 700, 711, 715, 762, 792, 804, 811])

In [109]:
# Country frequency (cleaned)
new_df["country"].value_counts(dropna=False)

United States    240
Ireland          169
England           98
Japan             55
India             53
Taiwan            34
Sweden            34
France            26
Canada            24
Australia         21
Switzerland       13
Wales             12
Denmark           11
Israel             9
New Zealand        8
Scotland           8
Netherlands        8
USA                5
Germany            5
Finland            4
South Africa       2
Spain              2
Mexico             1
Name: country, dtype: int64

### Drop columns

In [110]:
# Drops original, unaltered columns
cols = [
    "rating",
    "price",
    "price_per_litre",
    ]

new_df = new_df.drop(columns=cols)

In [111]:
new_df

,name,style,size,alohol_percentage,in_stock,customer_item_limit,description,date_scraped,country,organic,average_rating,totaL_reviews,price_usd,per_litre_usd
0,Eagle Rare 10 Year Old,Kentucky Straight Bourbon Whiskey,70.0,45.0,In Stock,NaN,"A top-quality bourbon from Buffalo Trace, the ...",2022-06-18,United States,NaN,4.5,51.0,49.349,70.5038
1,Jack Daniel's Old No. 7-Guitar Case,Tennessee Whiskey,70.0,40.0,In Stock,NaN,"A bottle of Jack Daniel's Old No. 7, presented...",2022-06-18,United States,NaN,5.0,2.0,48.739,69.6254
2,Woodford Reserve Distiller's Select,Kentucky Straight Bourbon Whiskey,70.0,43.2,In Stock,NaN,"Woodford Reserve is a superbly smooth, flavour...",2022-06-18,United States,NaN,5.0,97.0,43.859,62.6592
3,Gentleman Jack-Jack Daniel's,Tennessee Whiskey,70.0,40.0,In Stock,NaN,Twice run through Jack Daniels’ trademark mapl...,2022-06-18,United States,NaN,4.5,230.0,40.199,57.4254
4,Jack Daniel's Legacy Sour Mash-Edition 3,Tennessee Whiskey,70.0,43.0,In Stock,NaN,A special limited-edition bottle of Jack Danie...,2022-06-18,United States,NaN,NaN,NaN,34.099,48.7146
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
828,Zuidam Millstone 100 Rye,Distillery Bottling,70.0,50.0,In Stock,NaN,"A rye whisky from Dutch producer Zuidam, obses...",2022-06-18,Netherlands,NaN,5.0,2.0,109.739,156.7700
829,Paul John Edited,Indian Single Malt Whisky-Distillery Bottling,70.0,46.0,In Stock,NaN,The ongoing semi-peated whisky from Indian dis...,2022-06-18,India,NaN,NaN,NaN,50.935,72.7608
830,Spirit of Hven Urania Swedish Whisky,Swedish Single Malt Whisky-Distillery Bottling,50.0,45.0,In Stock,1.0,The first release of the Spirit of Hven Urania...,2022-06-18,Sweden,NaN,NaN,NaN,183.000,366.0000
831,Amrut Cask Strength,Indian Single Malt Whisky,70.0,61.8,In Stock,NaN,Continuing the run of impressive cask strength...,2022-06-18,India,NaN,5.0,5.0,88.999,127.1362
832,Amrut Peated,Indian Single Malt Whisky,70.0,46.0,In Stock,NaN,The new 46% Amruts are a very different propos...,2022-06-18,India,NaN,4.5,7.0,75.579,107.9700

### Column renaming

In [112]:
# Rename columns
cols ={
    "name":"product",
    "size":"size_cl",
    "alohol_percentage":"alcohol_percentage"
    }
        
        

new_df = new_df.rename(columns=cols)

In [113]:
# Reorder dataframe to original
new_df = new_df[
    [
        "product",
        "style",
        "size_cl",
        "alcohol_percentage",
        "average_rating",
        "totaL_reviews",
        "in_stock",
        "price_usd",
        "per_litre_usd",
        "customer_item_limit",
        "description",
        "date_scraped",
        "country",
        "organic"
        ]
        ]

In [114]:
new_df.head()

,product,style,size_cl,alcohol_percentage,average_rating,totaL_reviews,in_stock,price_usd,per_litre_usd,customer_item_limit,description,date_scraped,country,organic
0,Eagle Rare 10 Year Old,Kentucky Straight Bourbon Whiskey,70.0,45.0,4.5,51.0,In Stock,49.349,70.5038,NaN,"A top-quality bourbon from Buffalo Trace, the ...",2022-06-18,United States,NaN
1,Jack Daniel's Old No. 7-Guitar Case,Tennessee Whiskey,70.0,40.0,5.0,2.0,In Stock,48.739,69.6254,NaN,"A bottle of Jack Daniel's Old No. 7, presented...",2022-06-18,United States,NaN
2,Woodford Reserve Distiller's Select,Kentucky Straight Bourbon Whiskey,70.0,43.2,5.0,97.0,In Stock,43.859,62.6592,NaN,"Woodford Reserve is a superbly smooth, flavour...",2022-06-18,United States,NaN
3,Gentleman Jack-Jack Daniel's,Tennessee Whiskey,70.0,40.0,4.5,230.0,In Stock,40.199,57.4254,NaN,Twice run through Jack Daniels’ trademark mapl...,2022-06-18,United States,NaN
4,Jack Daniel's Legacy Sour Mash-Edition 3,Tennessee Whiskey,70.0,43.0,NaN,NaN,In Stock,34.099,48.7146,NaN,A special limited-edition bottle of Jack Danie...,2022-06-18,United States,NaN

In [115]:
# Cleaned dataframe to csv file
#new_df.to_csv("whisky_products_cleaned.csv", index = False)

In [116]:
cognac = pd.read_csv("cognac.csv", na_values=["no rating", "no limit", "n/a"])
malt_blended = pd.read_csv("malt_blended.csv", na_values=["no rating", "no limit", "n/a"])
scotch_whisky_blended = pd.read_csv("scotch_whisky_blended.csv", na_values=["no rating", "no limit", "n/a"])
scotch_whisky = pd.read_csv("scotch_whisky.csv", na_values=["no rating", "no limit", "n/a","Despatched within 2-4 Working days"])

In [117]:
cog = cognac.copy()
malt = malt_blended.copy()
blend = scotch_whisky_blended.copy()
scotch = scotch_whisky.copy()

In [118]:
cog.head()

,name,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,country,date_scraped
0,Hine Rare VSOP Cognac,NaN,70cl / 40%,70cl / 40%,4.5\n\n\n(33 Reviews),In Stock,£47.45,(£67.79 per litre),NaN,"A terrific VSOP from Hine, Rare is classed as ...",Facts\n\n\n\nCountry\nFrance\n\n\n\nRegion\nFi...,2022-06-22
1,Hennessy VSOP Privilege Cognac,NaN,70cl / 40%,70cl / 40%,4.5\n\n\n(2 Reviews),In Stock,£54.95,(£78.50 per litre),NaN,Hennessy VSOP Privilège is a well-balanced ble...,Facts\n\n\n\nCountry\nFrance\n\n\n\nCertificat...,2022-06-22
2,Courvoisier XO Cognac,NaN,70cl / 40%,70cl / 40%,4.5\n\n\n(17 Reviews),In Stock,£115,(£164.29 per litre),NaN,"Rich and full-bodied, yet still exceptionally ...",Facts\n\n\n\nCountry\nFrance\n\n\n\nColouring\...,2022-06-22
3,Hennessy XO Cognac,NaN,70cl / 40%,70cl / 40%,5\n\n\n(48 Reviews),In Stock,£162,(£231.43 per litre),Maximum 6 per customer,"The original 'extra-old' cognac, first bottled...",Facts\n\n\n\nCountry\nFrance\n\n\n\nColouring\...,2022-06-22
4,Remy Martin XO Cognac,NaN,70cl / 40%,70cl / 40%,5\n\n\n(22 Reviews),In Stock,£164,(£234.29 per litre),NaN,"Aged for longer than the XO Special, this Fine...",Facts\n\n\n\nCountry\nFrance\n\n\n\nColouring\...,2022-06-22

In [119]:
cog["size"].nunique()

113

### Size and Style

In [120]:
# First split data by forward slash
# Retrieve the first element of the split column
# Remove the cl character of this first element
# Cast as float
# Reassign as a new column
cog["size_cl"] = cog["size"].str.split("/").str[0].str.replace("cl","").astype(float)

In [121]:
# First split data by forward slash
# Retrieve the second element of the split column
# Remove the % character of this second element
# Cast as float
# Reassign as a new column
cog["alcohol_percentage"] = cog["size"].str.split("/").str[1].str.replace("%","").astype(float)

In [122]:
cog.head()

,name,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,country,date_scraped,size_cl,alcohol_percentage
0,Hine Rare VSOP Cognac,NaN,70cl / 40%,70cl / 40%,4.5\n\n\n(33 Reviews),In Stock,£47.45,(£67.79 per litre),NaN,"A terrific VSOP from Hine, Rare is classed as ...",Facts\n\n\n\nCountry\nFrance\n\n\n\nRegion\nFi...,2022-06-22,70.0,40.0
1,Hennessy VSOP Privilege Cognac,NaN,70cl / 40%,70cl / 40%,4.5\n\n\n(2 Reviews),In Stock,£54.95,(£78.50 per litre),NaN,Hennessy VSOP Privilège is a well-balanced ble...,Facts\n\n\n\nCountry\nFrance\n\n\n\nCertificat...,2022-06-22,70.0,40.0
2,Courvoisier XO Cognac,NaN,70cl / 40%,70cl / 40%,4.5\n\n\n(17 Reviews),In Stock,£115,(£164.29 per litre),NaN,"Rich and full-bodied, yet still exceptionally ...",Facts\n\n\n\nCountry\nFrance\n\n\n\nColouring\...,2022-06-22,70.0,40.0
3,Hennessy XO Cognac,NaN,70cl / 40%,70cl / 40%,5\n\n\n(48 Reviews),In Stock,£162,(£231.43 per litre),Maximum 6 per customer,"The original 'extra-old' cognac, first bottled...",Facts\n\n\n\nCountry\nFrance\n\n\n\nColouring\...,2022-06-22,70.0,40.0
4,Remy Martin XO Cognac,NaN,70cl / 40%,70cl / 40%,5\n\n\n(22 Reviews),In Stock,£164,(£234.29 per litre),NaN,"Aged for longer than the XO Special, this Fine...",Facts\n\n\n\nCountry\nFrance\n\n\n\nColouring\...,2022-06-22,70.0,40.0

### Rating/Reviews

In [123]:
# Retrieve first three characters of string
# Reassign as new column
cog["average_rating"] = cog["rating"].str[:3]

In [124]:
# Remove newline characters, cast as float
cog["average_rating"] = cog["average_rating"].str.replace("\n","").astype(float)

In [125]:
cog["total_reviews"] = cog["rating"].str[3:]

In [126]:
cog["total_reviews"].unique()

array(['\n\n\n(33\xa0Reviews)', '\n\n\n(2\xa0Reviews)',
       '\n\n\n(17\xa0Reviews)', '\n(48\xa0Reviews)', '\n(22\xa0Reviews)',
       nan, '\n(5\xa0Reviews)', '\n\n\n(23\xa0Reviews)',
       '\n(2\xa0Reviews)', '\n(1\xa0Review)', '\n(8\xa0Reviews)',
       '\n(10\xa0Reviews)', '\n\n\n(27\xa0Reviews)',
       '\n\n\n(3\xa0Reviews)', '\n\n\n(8\xa0Reviews)',
       '\n\n\n(29\xa0Reviews)', '\n\n\n(15\xa0Reviews)',
       '\n(3\xa0Reviews)', '\n\n\n(5\xa0Reviews)', '\n(4\xa0Reviews)',
       '\n(12\xa0Reviews)', '\n\n\n(6\xa0Reviews)', '\n(37\xa0Reviews)',
       '\n\n\n(4\xa0Reviews)', '\n(9\xa0Reviews)'], dtype=object)

In [127]:
# Remove newlines, paranthesis, and following string characters
# Cast as float
cog["total_reviews"] = cog["total_reviews"].str.replace("\n","").str.replace(")","",regex=True)\
                                                                .str.replace("(","",regex=True)\
                                                                .str.replace("Reviews","",regex=True)\
                                                                .str[:2].str.replace("\xa0","").astype(float)

### Price/price per litre

In [128]:
# Remove £ and commas
# Reassign to new column
# Cast as float
cog["price_usd"] = cog["price"].str.replace("£","").str.replace(",","").astype(float)

In [129]:
# Split on whitespace and retrieve first element
# Reassign to new column
cog["per_litre_usd"] = cog["price_per_litre"].str.split(" ").str[0]

In [130]:
# Remove paranthesis, £, and commas
# Cast as float
# Reassign to new column
cog["per_litre_usd"] = cog["per_litre_usd"].str.replace("(","",regex=True).str.replace("£","").str.replace(",","").astype(float)

### Item limits

In [131]:
cog["customer_item_limit"] = cog["customer_item_limit"].str.split(" ").str[1].astype(float)

In [132]:
cog.shape

(645, 18)

### Country

In [133]:
cog["new_country"] = cog["country"].str.extract(r".*\nCountry\n*(.+).*")

In [134]:
cog.head()

,name,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,country,date_scraped,size_cl,alcohol_percentage,average_rating,total_reviews,price_usd,per_litre_usd,new_country
0,Hine Rare VSOP Cognac,NaN,70cl / 40%,70cl / 40%,4.5\n\n\n(33 Reviews),In Stock,£47.45,(£67.79 per litre),NaN,"A terrific VSOP from Hine, Rare is classed as ...",Facts\n\n\n\nCountry\nFrance\n\n\n\nRegion\nFi...,2022-06-22,70.0,40.0,4.5,33.0,47.45,67.79,France
1,Hennessy VSOP Privilege Cognac,NaN,70cl / 40%,70cl / 40%,4.5\n\n\n(2 Reviews),In Stock,£54.95,(£78.50 per litre),NaN,Hennessy VSOP Privilège is a well-balanced ble...,Facts\n\n\n\nCountry\nFrance\n\n\n\nCertificat...,2022-06-22,70.0,40.0,4.5,2.0,54.95,78.50,France
2,Courvoisier XO Cognac,NaN,70cl / 40%,70cl / 40%,4.5\n\n\n(17 Reviews),In Stock,£115,(£164.29 per litre),NaN,"Rich and full-bodied, yet still exceptionally ...",Facts\n\n\n\nCountry\nFrance\n\n\n\nColouring\...,2022-06-22,70.0,40.0,4.5,17.0,115.00,164.29,France
3,Hennessy XO Cognac,NaN,70cl / 40%,70cl / 40%,5\n\n\n(48 Reviews),In Stock,£162,(£231.43 per litre),6.0,"The original 'extra-old' cognac, first bottled...",Facts\n\n\n\nCountry\nFrance\n\n\n\nColouring\...,2022-06-22,70.0,40.0,5.0,48.0,162.00,231.43,France
4,Remy Martin XO Cognac,NaN,70cl / 40%,70cl / 40%,5\n\n\n(22 Reviews),In Stock,£164,(£234.29 per litre),NaN,"Aged for longer than the XO Special, this Fine...",Facts\n\n\n\nCountry\nFrance\n\n\n\nColouring\...,2022-06-22,70.0,40.0,5.0,22.0,164.00,234.29,France

In [135]:
cog = cog.rename({"name":"product"},axis=1)

In [136]:
cog = cog[
    [
        "product",
        "style",
        "size_cl",
        "alcohol_percentage",
        "average_rating",
        "total_reviews",
        "in_stock",
        "price_usd",
        "per_litre_usd",
        "customer_item_limit",
        "description",
        "date_scraped",
        "new_country"
        ]
        ]

In [137]:
cog["product"] = cog["product"].str.replace("\n","-")

In [138]:
cog = cog.rename({"new_country":"country"}, axis=1)

In [139]:
# Convert to US dollars
cog["price_usd"] = cog["price_usd"] * 1.22
cog["per_litre_usd"] = cog["per_litre_usd"] * 1.22

In [140]:
cog.head()

,product,style,size_cl,alcohol_percentage,average_rating,total_reviews,in_stock,price_usd,per_litre_usd,customer_item_limit,description,date_scraped,country
0,Hine Rare VSOP Cognac,NaN,70.0,40.0,4.5,33.0,In Stock,57.889,82.7038,NaN,"A terrific VSOP from Hine, Rare is classed as ...",2022-06-22,France
1,Hennessy VSOP Privilege Cognac,NaN,70.0,40.0,4.5,2.0,In Stock,67.039,95.7700,NaN,Hennessy VSOP Privilège is a well-balanced ble...,2022-06-22,France
2,Courvoisier XO Cognac,NaN,70.0,40.0,4.5,17.0,In Stock,140.300,200.4338,NaN,"Rich and full-bodied, yet still exceptionally ...",2022-06-22,France
3,Hennessy XO Cognac,NaN,70.0,40.0,5.0,48.0,In Stock,197.640,282.3446,6.0,"The original 'extra-old' cognac, first bottled...",2022-06-22,France
4,Remy Martin XO Cognac,NaN,70.0,40.0,5.0,22.0,In Stock,200.080,285.8338,NaN,"Aged for longer than the XO Special, this Fine...",2022-06-22,France

In [141]:
malt.head()

,name,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,country,date_scraped
0,Monkey Shoulder,Blended Malt Scotch Whisky,70cl,40%,4.5\n\n\n(434 Reviews),In Stock,£27.75,(£39.64 per litre),NaN,Monkey Shoulder is a mix of three different Sp...,Facts\n\n\n\nCountry\nScotland\n\n\n\nColourin...,2022-06-23
1,Johnnie Walker Green Label 15 Year Old,Blended Malt Scotch Whisky,70cl,43%,4.5\n\n\n(46 Reviews),In Stock,£41.95,(£59.93 per litre),NaN,"Relaunched in 2016, Green Label is arguably th...",Facts\n\n\n\nAge\n15 Year Old\n\n\n\nCountry\n...,2022-06-23
2,Johnnie Walker Green Label 15 Year Old,NaN,70cl,43%,NaN,In Stock,£41.95,NaN,NaN,"Relaunched in 2016, Green Label is arguably th...",Facts\n\n\n\nAge\n15 Year Old\n\n\n\nCountry\n...,2022-06-23
3,Copper Dog,Speyside Blended Malt Scotch Whisky,70cl,40%,4.5\n\n\n(85 Reviews),In Stock,£29.95,(£42.79 per litre),NaN,Copper Dog is a Scotch whisky that sums up all...,Facts\n\n\n\nCountry\nScotland\n\n\n\nRegion\n...,2022-06-23
4,Naked Malt Blended Malt,Blended Malt Scotch Whisky,70cl,40%,NaN,In Stock,£26.95,(£38.50 per litre),NaN,"A fruity, bold blended malt whisky that has be...",Facts\n\n\n\nCountry\nScotland\n\n\n\nCask Typ...,2022-06-23

In [142]:
malt["name"].value_counts()

Johnnie Walker Green Label 15 Year Old              2
The Gauldrons\nBatch 5                              2
Scallywag 10 Year Old\nSherry Cask Douglas Laing    1
Pete'Series Blended Islay Malt\nAsta Morris         1
Wemyss Malts Flaming Feast\nFamily Collection       1
                                                   ..
Gladstone Axe American Oak Blended Malt Scotch      1
Gladstone Axe Black Axe Blended Malt Scotch         1
Famous Grouse\nVintage 1992 Bot.2003                1
Rock Island Mezcal Edition                          1
Wemyss Malts Spice King 12 Year Old                 1
Name: name, Length: 91, dtype: int64

In [143]:
# Replace newline character with "-"
malt["name"] = malt["name"].str.replace("\n","-")

### Size/Style

In [144]:
# First split data by forward slash
# Retrieve the first element of the split column
# Remove the "cl" and "c" character of this first element
# Cast as float
# Reassign as a new column
malt["size_cl"] = malt["size"].str.split("/").str[0].str.replace("cl","").str.replace("c","").astype(float)

In [145]:
# Remove percentage sign and forward slash
# Cast as float
malt["alcohol_percentage"] =malt["alohol_percentage"].str.replace("%","").str.replace("/","").astype(float)

### Rating/Reviews

In [146]:
# Retrieve first three characters of string
# Remove newline characters
# Cast as float
# Reassign as new column
malt["average_rating"] = malt["rating"].str[:3].str.replace("\n","").astype(float)

In [147]:
# Remove newlines, paranthesis, and following string characters to include "Review" and "Reviews"
# Cast as float
# Assign as new column
malt["total_reviews"] = malt["rating"].str[5:].str.replace("\n","").str.replace(")","",regex=True)\
                                      .str.replace("(","",regex=True)\
                                      .str.replace("Reviews","")\
                                      .str.replace("Review","").astype(float)

### Price/price per litre

In [148]:
# Remove £ and commas
# Reassign to new column
# Cast as float
malt["price_usd"] = malt["price"].str.replace("£","").str.replace(",","").astype(float)

In [149]:
# Split on whitespace and retrieve first element
# Remove paranthesis, £, and commas
# Cast as float
# Reassign to new column
malt["per_litre_usd"] = malt["price_per_litre"].str.split(" ")\
                                               .str[0].str.replace("(","",regex=True)\
                                               .str.replace("£","").str.replace(",","").astype(float)

### Item limits

In [150]:
malt["customer_item_limit"] = malt["customer_item_limit"].str.split(" ").str[1].astype(float)

In [151]:
# Assign extracted country names to new column
malt["new_country"] = malt["country"].str.extract(r".*\nCountry\n*(.+).*") # <-- Uses regex pattern to extract ONLY country name

In [152]:
malt = malt.rename({"name":"product"},axis=1)

In [153]:
malt["style"].value_counts()

Blended Malt Scotch Whisky                                    31
Blended Malt Scotch Whisky\nWemyss                            10
Blended Malt Scotch Whisky\nCompass Box                        7
Highland Blended Malt Scotch Whisky\nDouglas Laing             4
Blended Malt Scotch Whisky\nDouglas Laing                      3
Islay Blended Malt Scotch Whisky\nDouglas Laing                2
Island Blended Malt Scotch Whisky\nDouglas Laing               2
Campbeltown Blended Malt Scotch Whisky\nDouglas Laing          2
Blended Malt\nBerry Bros & Rudd                                2
Islay Blended Malt Scotch Whisky\nElixir Distillers            2
Island Blended Malt Scotch Whisky                              2
Moon Import                                                    1
Blended Malt Scotch Whisky\nMoon Import                        1
Islay Blended Malt Scotch Whisky\nThe Cooper's Choice          1
Islay Blended Malt\nBerry Bros & Rudd                          1
Blended Malt Scotch Whisky\nSutcliffe & Son                    1
Island Blended Malt Scotch Whisky\nMossburn                    1
Highland Blended Malt Scotch Whisky\nWhisky Works              1
Islay Blended Malt Scotch Whisky\nAsta Morris                  1
Lowland Blended Malt Scotch Whisky\nDouglas Laing              1
Blended Malt Scotch Whisky\nElixir Distillers                  1
Blended Malt Scotch Whisky\nSingle Cask Nation                 1
Islay Blended Malt Scotch Whisky                               1
Speyside Blended Malt Scotch Whisky\nDouglas Laings            1
Blended Malt Scotch Whisky\nThat Boutique-y Whisky Company     1
Lowland Single Malt Scotch Whisky\nDouglas Laing               1
Speyside Blended Malt Scotch Whisky                            1
Highland Blended Malt Scotch Whisky                            1
Blendad Malt Scoth Whisky\nDouglas Laing                       1
Speyside Blended Malt\nBerry Bros & Rudd                       1
Islay Blended Malt Scotch Whisky\nBerry Bros & Rudd            1
Douglas Laing                                                  1
Highland Blended Malt Scotch Whisky\nCompass Box               1
Blended Malt Scotch Whisky\nThompson Bros                      1
Speyside Blended Malt Scotch Whisky\nDouglas Laing             1
Name: style, dtype: int64

In [154]:
malt["style"] = malt["style"].str.replace("\n","-")

In [155]:
malt.head()

,product,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,country,date_scraped,size_cl,alcohol_percentage,average_rating,total_reviews,price_usd,per_litre_usd,new_country
0,Monkey Shoulder,Blended Malt Scotch Whisky,70cl,40%,4.5\n\n\n(434 Reviews),In Stock,£27.75,(£39.64 per litre),NaN,Monkey Shoulder is a mix of three different Sp...,Facts\n\n\n\nCountry\nScotland\n\n\n\nColourin...,2022-06-23,70.0,40.0,4.5,434.0,27.75,39.64,Scotland
1,Johnnie Walker Green Label 15 Year Old,Blended Malt Scotch Whisky,70cl,43%,4.5\n\n\n(46 Reviews),In Stock,£41.95,(£59.93 per litre),NaN,"Relaunched in 2016, Green Label is arguably th...",Facts\n\n\n\nAge\n15 Year Old\n\n\n\nCountry\n...,2022-06-23,70.0,43.0,4.5,46.0,41.95,59.93,Scotland
2,Johnnie Walker Green Label 15 Year Old,NaN,70cl,43%,NaN,In Stock,£41.95,NaN,NaN,"Relaunched in 2016, Green Label is arguably th...",Facts\n\n\n\nAge\n15 Year Old\n\n\n\nCountry\n...,2022-06-23,70.0,43.0,NaN,NaN,41.95,NaN,Scotland
3,Copper Dog,Speyside Blended Malt Scotch Whisky,70cl,40%,4.5\n\n\n(85 Reviews),In Stock,£29.95,(£42.79 per litre),NaN,Copper Dog is a Scotch whisky that sums up all...,Facts\n\n\n\nCountry\nScotland\n\n\n\nRegion\n...,2022-06-23,70.0,40.0,4.5,85.0,29.95,42.79,Scotland
4,Naked Malt Blended Malt,Blended Malt Scotch Whisky,70cl,40%,NaN,In Stock,£26.95,(£38.50 per litre),NaN,"A fruity, bold blended malt whisky that has be...",Facts\n\n\n\nCountry\nScotland\n\n\n\nCask Typ...,2022-06-23,70.0,40.0,NaN,NaN,26.95,38.50,Scotland

In [156]:
malt = malt[
    [
        "product",
        "style",
        "size_cl",
        "alcohol_percentage",
        "average_rating",
        "total_reviews",
        "in_stock",
        "price_usd",
        "per_litre_usd",
        "customer_item_limit",
        "description",
        "date_scraped",
        "new_country"
        ]
        ]

In [157]:
malt["price_usd"] = malt["price_usd"] * 1.22
malt["per_litre_usd"] = malt["per_litre_usd"] * 1.22

In [158]:
malt

,product,style,size_cl,alcohol_percentage,average_rating,total_reviews,in_stock,price_usd,per_litre_usd,customer_item_limit,description,date_scraped,new_country
0,Monkey Shoulder,Blended Malt Scotch Whisky,70.0,40.0,4.5,434.0,In Stock,33.855,48.3608,NaN,Monkey Shoulder is a mix of three different Sp...,2022-06-23,Scotland
1,Johnnie Walker Green Label 15 Year Old,Blended Malt Scotch Whisky,70.0,43.0,4.5,46.0,In Stock,51.179,73.1146,NaN,"Relaunched in 2016, Green Label is arguably th...",2022-06-23,Scotland
2,Johnnie Walker Green Label 15 Year Old,NaN,70.0,43.0,NaN,NaN,In Stock,51.179,NaN,NaN,"Relaunched in 2016, Green Label is arguably th...",2022-06-23,Scotland
3,Copper Dog,Speyside Blended Malt Scotch Whisky,70.0,40.0,4.5,85.0,In Stock,36.539,52.2038,NaN,Copper Dog is a Scotch whisky that sums up all...,2022-06-23,Scotland
4,Naked Malt Blended Malt,Blended Malt Scotch Whisky,70.0,40.0,NaN,NaN,In Stock,32.879,46.9700,NaN,"A fruity, bold blended malt whisky that has be...",2022-06-23,Scotland
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Copper Pot 8 Year Old-Bot.1980s,Blended Malt Scotch Whisky,75.0,40.0,5.0,1.0,In Stock,73.139,97.5146,NaN,An old bottling of Copper Pot 8 Year Old blend...,2022-06-23,Scotland
89,Highland Harvest-7 Casks Organic Blended Malt ...,Blended Malt Scotch Whisky,70.0,40.0,NaN,NaN,In Stock,34.099,48.7146,NaN,The blended malt offering from Highland Harves...,2022-06-23,Scotland
90,Scallywag Speyside Blended Malt,Speyside Blended Malt Scotch Whisky-Douglas Laing,70.0,46.0,3.5,9.0,In Stock,44.469,63.5254,NaN,Scallywag is a new addition to the Douglas Lai...,2022-06-23,Scotland
91,Monkey Shoulder 'Gorilla' plus Cradle-Large Bo...,Blended Malt Scotch Whisky,450.0,40.0,5.0,6.0,In Stock,396.500,88.1084,NaN,A huge bottle of Monkey Shoulder 'Triple Malt'...,2022-06-23,Scotland
92,Wemyss Malts Spice King 12 Year Old,Blended Malt Scotch Whisky-Wemyss,70.0,40.0,NaN,NaN,In Stock,51.789,73.9808,NaN,"A spicy dram from the folks at Wemyss Malts, S...",2022-06-23,Scotland

In [159]:
malt = malt.rename({"new_country":"country"}, axis=1)

In [160]:
blend.head()

,name,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,country,date_scraped
0,Johnnie Walker Blue Label,Blended Scotch Whisky,70cl,40%,4.5\n\n\n(170 Reviews),In Stock,£155,(£221.43 per litre),NaN,Johnnie Walker's most prestigious whisky. Prob...,Facts\n\n\n\nCountry\nScotland\n\n\n\nColourin...,2022-06-22
1,Johnnie Walker Gold Label Reserve,Blended Scotch Whisky,70cl,40%,4\n\n\n(67 Reviews),In Stock,£44.45,(£63.50 per litre),NaN,Johnnie Walker Gold Label was relaunched in 20...,Facts\n\n\n\nCountry\nScotland\n\n\n\nColourin...,2022-06-22
2,Johnnie Walker Blue Label\nLimited Edition 2 G...,Blended Scotch Whisky,70cl,40%,2\n\n\n(1 Review),In Stock,£155,(£221.43 per litre),NaN,A lovely gift set including a bottle of the fa...,Facts\n\n\n\nCountry\nScotland\n\n\n\nColourin...,2022-06-22
3,Johnnie Walker Black Label 12 Year Old,Blended Scotch Whisky,70cl,40%,4\n\n\n(186 Reviews),In Stock,£27.95,(£39.93 per litre),NaN,Johnnie Walker Black Label's iconic square bot...,Facts\n\n\n\nAge\n12 Year Old\n\n\n\nCountry\n...,2022-06-22
4,Johnnie Walker Double Black,Blended Scotch Whisky,70cl,40%,4.5\n\n\n(109 Reviews),In Stock,£32.95,(£47.07 per litre),NaN,An interesting twist on Johnnie Walker Black L...,Facts\n\n\n\nCountry\nScotland\n\n\n\nColourin...,2022-06-22

In [161]:
blend["name"].value_counts()

Chivas Regal 12 Year Old\nBot.1970s             6
Chivas Regal 12 Year Old\nBot.1980s             6
Gilbey's Spey Royal\nBot.1970s                  4
Johnnie Walker Black Label\nBot.1960s           3
White Horse\nBot.1950s Spring Cap               3
                                               ..
Woven Whisky Experience N.8                     1
Woven Whisky Experience N.7                     1
White Heather 15 Year Old                       1
Woven Whisky Experience N.2                     1
Bell's Prince Andrew & Miss Ferguson\n(1986)    1
Name: name, Length: 286, dtype: int64

In [162]:
blend["name"] = blend["name"].str.replace("\n","-")

In [163]:
# First split data by forward slash
# Retrieve the first element of the split column
# Remove the "cl" and "c" character of this first element
# Cast as float
# Reassign as a new column
blend["size_cl"] = blend["size"].str.split("/").str[0].str.replace("cl","").str.replace("c","").astype(float)

In [164]:
# Remove percentage sign and forward slash
# Cast as float
blend["alcohol_percentage"] = blend["alohol_percentage"].str.replace("%","").str.replace("/","").astype(float)

In [165]:
# Retrieve first three characters of string
# Remove newline characters
# Cast as float
# Reassign as new column
blend["average_rating"] = blend["rating"].str[:3].str.replace("\n","").astype(float)

In [166]:
# Remove whitespace, paranthesis, "Reviews","Review" and "\xa0s"
# Cast as float
blend["total_reviews"] =blend["rating"].str[5:]\
                                       .str.replace("\n","")\
                                       .str.replace("(","",regex=True)\
                                       .str.replace(")","",regex=True)\
                                       .str.replace("Review","")\
                                       .str.replace("Reviews","")\
                                       .str.replace("\xa0s","").astype(float)

### Price/price per litre

In [167]:
# Remove £ and commas
# Reassign to new column
# Cast as float
blend["price_usd"] = blend["price"].str.replace("£","").str.replace(",","").astype(float)

In [168]:
# Remove paranthesis, £, and commas
# Cast as float
# Reassign to new column
blend["per_litre_usd"] = blend["price_per_litre"].str.split(" ")\
                                                 .str[0].str.replace("(","",regex=True)\
                                                 .str.replace("£","")\
                                                 .str.replace(",","")\
                                                 .astype(float)

In [169]:
# Convert to US dollars
blend["price_usd"] = blend["price_usd"] * 1.22
blend["per_litre_usd"] = blend["per_litre_usd"] * 1.22

In [170]:
blend["customer_item_limit"] = blend["customer_item_limit"].str.split(" ").str[1].astype(float).value_counts()

In [171]:
# Assign extracted country names to new column
blend["new_country"] = blend["country"].str.extract(r".*\nCountry\n*(.+).*") # <-- Uses regex pattern to extract ONLY country name

In [172]:
blend.head()

,name,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,country,date_scraped,size_cl,alcohol_percentage,average_rating,total_reviews,price_usd,per_litre_usd,new_country
0,Johnnie Walker Blue Label,Blended Scotch Whisky,70cl,40%,4.5\n\n\n(170 Reviews),In Stock,£155,(£221.43 per litre),NaN,Johnnie Walker's most prestigious whisky. Prob...,Facts\n\n\n\nCountry\nScotland\n\n\n\nColourin...,2022-06-22,70.0,40.0,4.5,170.0,189.100,270.1446,Scotland
1,Johnnie Walker Gold Label Reserve,Blended Scotch Whisky,70cl,40%,4\n\n\n(67 Reviews),In Stock,£44.45,(£63.50 per litre),5.0,Johnnie Walker Gold Label was relaunched in 20...,Facts\n\n\n\nCountry\nScotland\n\n\n\nColourin...,2022-06-22,70.0,40.0,4.0,67.0,54.229,77.4700,Scotland
2,Johnnie Walker Blue Label-Limited Edition 2 Gl...,Blended Scotch Whisky,70cl,40%,2\n\n\n(1 Review),In Stock,£155,(£221.43 per litre),3.0,A lovely gift set including a bottle of the fa...,Facts\n\n\n\nCountry\nScotland\n\n\n\nColourin...,2022-06-22,70.0,40.0,2.0,1.0,189.100,270.1446,Scotland
3,Johnnie Walker Black Label 12 Year Old,Blended Scotch Whisky,70cl,40%,4\n\n\n(186 Reviews),In Stock,£27.95,(£39.93 per litre),NaN,Johnnie Walker Black Label's iconic square bot...,Facts\n\n\n\nAge\n12 Year Old\n\n\n\nCountry\n...,2022-06-22,70.0,40.0,4.0,186.0,34.099,48.7146,Scotland
4,Johnnie Walker Double Black,Blended Scotch Whisky,70cl,40%,4.5\n\n\n(109 Reviews),In Stock,£32.95,(£47.07 per litre),NaN,An interesting twist on Johnnie Walker Black L...,Facts\n\n\n\nCountry\nScotland\n\n\n\nColourin...,2022-06-22,70.0,40.0,4.5,109.0,40.199,57.4254,Scotland

In [173]:
blend = blend.rename({"name":"product"},axis=1)

In [174]:
blend = blend[
    [
        "product",
        "style",
        "size_cl",
        "alcohol_percentage",
        "average_rating",
        "total_reviews",
        "in_stock",
        "price_usd",
        "per_litre_usd",
        "customer_item_limit",
        "description",
        "date_scraped",
        "new_country"
        ]
        ]

In [175]:
blend = blend.rename({"new_country":"country"}, axis=1)

In [176]:
blend

,product,style,size_cl,alcohol_percentage,average_rating,total_reviews,in_stock,price_usd,per_litre_usd,customer_item_limit,description,date_scraped,country
0,Johnnie Walker Blue Label,Blended Scotch Whisky,70.0,40.0,4.5,170.0,In Stock,189.100,270.1446,NaN,Johnnie Walker's most prestigious whisky. Prob...,2022-06-22,Scotland
1,Johnnie Walker Gold Label Reserve,Blended Scotch Whisky,70.0,40.0,4.0,67.0,In Stock,54.229,77.4700,5.0,Johnnie Walker Gold Label was relaunched in 20...,2022-06-22,Scotland
2,Johnnie Walker Blue Label-Limited Edition 2 Gl...,Blended Scotch Whisky,70.0,40.0,2.0,1.0,In Stock,189.100,270.1446,3.0,A lovely gift set including a bottle of the fa...,2022-06-22,Scotland
3,Johnnie Walker Black Label 12 Year Old,Blended Scotch Whisky,70.0,40.0,4.0,186.0,In Stock,34.099,48.7146,NaN,Johnnie Walker Black Label's iconic square bot...,2022-06-22,Scotland
4,Johnnie Walker Double Black,Blended Scotch Whisky,70.0,40.0,4.5,109.0,In Stock,40.199,57.4254,NaN,An interesting twist on Johnnie Walker Black L...,2022-06-22,Scotland
...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,Bell's Christmas 1988,Blended Scotch Whisky,75.0,43.0,5.0,3.0,In Stock,305.000,406.6626,NaN,The 1988 release of Bell's then annual Christm...,2022-06-22,Scotland
318,Bell's Princess Eugenie-(1990),Blended Scotch Whisky,75.0,43.0,NaN,NaN,In Stock,73.139,97.5146,NaN,A ceramic Bell's decanter produced to celebrat...,2022-06-22,Scotland
319,Bell's 150 Years of Bell's-Small Decanter,Blended Scotch Whisky,18.7,40.0,NaN,NaN,In Stock,486.780,259.6160,NaN,A dinky bell-shaped decanter of Bell's blended...,2022-06-22,Scotland
320,Bell's Princess Beatrice-(1988),Blended Scotch Whisky,75.0,43.0,NaN,NaN,In Stock,73.139,97.5146,NaN,A special edition Bell's decanter released to ...,2022-06-22,Scotland
321,Bell's Prince Andrew & Miss Ferguson-(1986),Blended Scotch Whisky,75.0,43.0,NaN,NaN,In Stock,73.139,97.5146,NaN,A collectible Bell's decanter celebrating the ...,2022-06-22,Scotland

In [177]:
scotch.head()

,name,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,country,date_scraped
0,Deanston 18 Year Old,Highland Single Malt Scotch Whisky\nDistillery...,70cl / 46.3%,70cl / 40%,4.5\n\n\n(5 Reviews),In Stock,£63.95,(£91.36 per litre),NaN,"Our Whisky of the Year for 2022, this 18-year-...",Facts\n\n\n\nBottler\nDistillery Bottling\n\n\...,2022-06-22
1,Lagavulin 16 Year Old,Islay Single Malt Scotch Whisky\nDistillery Bo...,70cl / 43%,70cl / 40%,4.5\n\n\n(355 Reviews),In Stock,£74.95,(£107.07 per litre),NaN,The Islay representative in the 'Classic Malts...,Facts\n\n\n\nBottler\nDistillery Bottling\n\n\...,2022-06-22
2,Balvenie 16 Year Old French Oak\nPineau Cask F...,Speyside Single Malt Scotch Whisky\nDistillery...,70cl / 47.6%,70cl / 40%,NaN,In Stock,£123,(£175.71 per litre),Maximum 2 per customer,A 16-year-old single malt from Balvenie's Cask...,Facts\n\n\n\nBottler\nDistillery Bottling\n\n\...,2022-06-22
3,Lagavulin 2006 Distillers Edition\nBot.2021,Islay Single Malt Scotch Whisky\nDistillery Bo...,70cl / 43%,70cl / 40%,5\n\n\n(3 Reviews),In Stock,£89.95,(£128.50 per litre),NaN,A 2006 Distillers Edition Lagavulin single mal...,Facts\n\n\n\nBottler\nDistillery Bottling\n\n\...,2022-06-22
4,Lagavulin 2006 Distillers Edition\nBot.2021,NaN,70cl / 43%,70cl / 40%,NaN,In Stock,£89.95,NaN,NaN,A 2006 Distillers Edition Lagavulin single mal...,Facts\n\n\n\nBottler\nDistillery Bottling\n\n\...,2022-06-22

### Name column

In [178]:
scotch["name"].value_counts()

Glenmorangie 10 Year Old\nBot.1980s                        6
Dufftown-Glenlivet 8 Year Old\nBot.1970s                   5
Glen Flagler 8 Year Old\nBot.1970s                         5
Highland Park 18 Year Old\nBot.1990s                       4
Highland Park 12 Year Old\nBot.1990s                       4
                                                          ..
Glen Elgin 2007\n12 Year Old Reserve Cask - Parcel No.3    1
Glen Keith 28 Year Old\nSecret Speyside                    1
Ben Eideann Fionain Kosher Whisky\nRed Wine Cask Finish    1
Longmorn 2002\n17 Year Old Signatory for TWE               1
Ardbeg 1976\n21 Year Old Cask #453 Adelphi                 1
Name: name, Length: 1895, dtype: int64

In [179]:
scotch["name"] = scotch["name"].str.replace("\n","-")

### Size and Style

In [180]:
# First split data by forward slash
# Retrieve the first element of the split column
# Remove the cl character of this first element
# Cast as float
# Reassign as a new column
scotch["size_cl"] = scotch["size"].str.split("/").str[0].str.replace("cl","").astype(float)

In [181]:
# Split size column at "/"
# Retrieve second element
# Remove "%"
# Cast as float
# Reassign as new column
scotch["alcohol_percentage"] = scotch["size"].str.split("/").str[1].str.replace("%","").astype(float)

### Rating/Reviews

In [182]:
# Retrieve first three characters of string
# Remove newline characters
# Reassign as new column
scotch["average_rating"] = scotch["rating"].str[:3].str.replace("\n","").astype(float)

In [183]:
# Remove newlines, paranthesis, "R"
# Cast as float
# Reassign as new column
scotch["total_reviews"] = scotch["rating"].str[3:]\
                                          .str.replace("\n","")\
                                          .str.replace("(","",regex=True)\
                                          .str.replace(")","",regex=True)\
                                          .str[:3].str.replace("R","")\
                                          .astype(float)

### Price/price per litre

In [184]:
scotch["price_usd"] = scotch["price"].str.replace("£","").str.replace(",","").astype(float)

In [185]:
# Split on whitespace
# Retrieve first element
# Remove paranthesis, commas, and £
# Cast as float
# Reassign as new column
scotch["per_litre_usd"] = scotch["price_per_litre"].str.split(" ").str[0]\
                                        .str.replace("(","",regex=True)\
                                        .str.replace("£","").str.replace(",","")\
                                        .astype(float)

In [186]:
scotch["price_usd"] = scotch["price_usd"] * 1.22
scotch["per_litre_usd"] = scotch["per_litre_usd"] * 1.22

In [187]:
scotch["customer_item_limit"].value_counts()

Maximum 1 per customer     167
Maximum 2 per customer      50
Maximum 3 per customer      17
Maximum 6 per customer       4
Maximum 12 per customer      2
Name: customer_item_limit, dtype: int64

In [188]:
scotch["customer_item_limit"] = scotch["customer_item_limit"].str.split(" ").str[1].astype(float)

In [189]:
scotch["new_country"] = scotch["country"].str.extract(r".*\nCountry\n*(.+).*")

In [190]:
scotch = scotch.rename({"name":"product"},axis=1)

In [191]:
scotch

,product,style,size,alohol_percentage,rating,in_stock,price,price_per_litre,customer_item_limit,description,country,date_scraped,size_cl,alcohol_percentage,average_rating,total_reviews,price_usd,per_litre_usd,new_country
0,Deanston 18 Year Old,Highland Single Malt Scotch Whisky\nDistillery...,70cl / 46.3%,70cl / 40%,4.5\n\n\n(5 Reviews),In Stock,£63.95,(£91.36 per litre),NaN,"Our Whisky of the Year for 2022, this 18-year-...",Facts\n\n\n\nBottler\nDistillery Bottling\n\n\...,2022-06-22,70.0,46.3,4.5,5.0,78.019,111.4592,Scotland
1,Lagavulin 16 Year Old,Islay Single Malt Scotch Whisky\nDistillery Bo...,70cl / 43%,70cl / 40%,4.5\n\n\n(355 Reviews),In Stock,£74.95,(£107.07 per litre),NaN,The Islay representative in the 'Classic Malts...,Facts\n\n\n\nBottler\nDistillery Bottling\n\n\...,2022-06-22,70.0,43.0,4.5,355.0,91.439,130.6254,Scotland
2,Balvenie 16 Year Old French Oak-Pineau Cask Fi...,Speyside Single Malt Scotch Whisky\nDistillery...,70cl / 47.6%,70cl / 40%,NaN,In Stock,£123,(£175.71 per litre),2.0,A 16-year-old single malt from Balvenie's Cask...,Facts\n\n\n\nBottler\nDistillery Bottling\n\n\...,2022-06-22,70.0,47.6,NaN,NaN,150.060,214.3662,Scotland
3,Lagavulin 2006 Distillers Edition-Bot.2021,Islay Single Malt Scotch Whisky\nDistillery Bo...,70cl / 43%,70cl / 40%,5\n\n\n(3 Reviews),In Stock,£89.95,(£128.50 per litre),NaN,A 2006 Distillers Edition Lagavulin single mal...,Facts\n\n\n\nBottler\nDistillery Bottling\n\n\...,2022-06-22,70.0,43.0,5.0,3.0,109.739,156.7700,Scotland
4,Lagavulin 2006 Distillers Edition-Bot.2021,NaN,70cl / 43%,70cl / 40%,NaN,In Stock,£89.95,NaN,NaN,A 2006 Distillers Edition Lagavulin single mal...,Facts\n\n\n\nBottler\nDistillery Bottling\n\n\...,2022-06-22,70.0,43.0,NaN,NaN,109.739,NaN,Scotland
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2058,Ardbeg 1972-Cask #2782,Islay Single Malt Scotch Whisky\nDistillery Bo...,70cl / 49.9%,70cl / 40%,5\n\n\n(1 Review),In Stock,"£7,500","(£10,714.29 per litre)",1.0,An old single cask Ardbeg 1972 bottled in 2003...,Facts\n\n\n\nBottler\nDistillery Bottling\n\n\...,2022-06-22,70.0,49.9,5.0,1.0,9150.000,13071.4338,Scotland
2059,Ardbeg 17 Year Old,Islay Single Malt Scotch Whisky\nDistillery Bo...,70cl / 40%,70cl / 40%,4.5\n\n\n(23 Reviews),In Stock,£650,(£928.57 per litre),NaN,"A tad less peaty than early bottlings, the cla...",Facts\n\n\n\nBottler\nDistillery Bottling\n\n\...,2022-06-22,70.0,40.0,4.5,23.0,793.000,1132.8554,Scotland
2060,Ardbeg 10 Year Old-Bot.1990s,Islay Single Malt Scotch Whisky\nDistillery Bo...,70cl / 40%,70cl / 40%,NaN,In Stock,"£1,800","(£2,571.43 per litre)",NaN,A rare bottle of 10 year old Ardbeg bottled so...,Facts\n\n\n\nBottler\nDistillery Bottling\n\n\...,2022-06-22,70.0,40.0,NaN,NaN,2196.000,3137.1446,Scotland
2061,Ardbeg 1972-29 Year Old Old Malt Cask,Islay Single Malt Scotch Whisky\nDouglas Laing,70cl / 50%,70cl / 40%,NaN,In Stock,"£3,500","(£5,000 per litre)",NaN,"A single cask bottling of Ardbeg whisky, disti...",Facts\n\n\n\nBottler\nDouglas Laing\n\n\n\nSer...,2022-06-22,70.0,50.0,NaN,NaN,4270.000,6100.0000,Scotland
2062,Ardbeg 1976-21 Year Old Cask #453 Adelphi,Islay Single Malt Scotch Whisky\nAdelphi,70cl / 49.2%,70cl / 40%,5\n\n\n(1 Review),In Stock,"£3,000","(£4,285.71 per litre)",1.0,A 21 year old independent bottling of Ardbeg d...,Facts\n\n\n\nBottler\nAdelphi\n\n\n\nAge\n21 Y...,2022-06-22,70.0,49.2,5.0,1.0,3660.000,5228.5662,Scotland

In [192]:
scotch = scotch[
    [
        "product",
        "style",
        "size_cl",
        "alcohol_percentage",
        "average_rating",
        "total_reviews",
        "in_stock",
        "price_usd",
        "per_litre_usd",
        "customer_item_limit",
        "description",
        "date_scraped",
        "new_country"
        ]
        ]

In [193]:
scotch = scotch.rename({"new_country":"country"}, axis=1)

In [194]:
cog.to_csv("cognac_cleaned.csv",index=False)
malt.to_csv("malt_blended_clean.csv",index=False)
blend.to_csv("scotch_whisky_blended_cleaned.csv",index=False)
scotch.to_csv("scotch_whisky_cleaned.csv",index=False)

In [198]:
a = pd.read_csv("cognac_cleaned.csv")
b = pd.read_csv("malt_blended_clean.csv")
c = pd.read_csv("scotch_whisky_blended_cleaned.csv")
d = pd.read_csv("scotch_whisky_cleaned.csv")

In [199]:
pd.concat([a, b, c, d])

,product,style,size_cl,alcohol_percentage,average_rating,total_reviews,in_stock,price_usd,per_litre_usd,customer_item_limit,description,date_scraped,country
0,Hine Rare VSOP Cognac,NaN,70.0,40.0,4.5,33.0,In Stock,57.889,82.7038,NaN,"A terrific VSOP from Hine, Rare is classed as ...",2022-06-22,France
1,Hennessy VSOP Privilege Cognac,NaN,70.0,40.0,4.5,2.0,In Stock,67.039,95.7700,NaN,Hennessy VSOP Privilège is a well-balanced ble...,2022-06-22,France
2,Courvoisier XO Cognac,NaN,70.0,40.0,4.5,17.0,In Stock,140.300,200.4338,NaN,"Rich and full-bodied, yet still exceptionally ...",2022-06-22,France
3,Hennessy XO Cognac,NaN,70.0,40.0,5.0,48.0,In Stock,197.640,282.3446,6.0,"The original 'extra-old' cognac, first bottled...",2022-06-22,France
4,Remy Martin XO Cognac,NaN,70.0,40.0,5.0,22.0,In Stock,200.080,285.8338,NaN,"Aged for longer than the XO Special, this Fine...",2022-06-22,France
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2058,Ardbeg 1972-Cask #2782,Islay Single Malt Scotch Whisky\nDistillery Bo...,70.0,49.9,5.0,1.0,In Stock,9150.000,13071.4338,1.0,An old single cask Ardbeg 1972 bottled in 2003...,2022-06-22,Scotland
2059,Ardbeg 17 Year Old,Islay Single Malt Scotch Whisky\nDistillery Bo...,70.0,40.0,4.5,23.0,In Stock,793.000,1132.8554,NaN,"A tad less peaty than early bottlings, the cla...",2022-06-22,Scotland
2060,Ardbeg 10 Year Old-Bot.1990s,Islay Single Malt Scotch Whisky\nDistillery Bo...,70.0,40.0,NaN,NaN,In Stock,2196.000,3137.1446,NaN,A rare bottle of 10 year old Ardbeg bottled so...,2022-06-22,Scotland
2061,Ardbeg 1972-29 Year Old Old Malt Cask,Islay Single Malt Scotch Whisky\nDouglas Laing,70.0,50.0,NaN,NaN,In Stock,4270.000,6100.0000,NaN,"A single cask bottling of Ardbeg whisky, disti...",2022-06-22,Scotland
2062,Ardbeg 1976-21 Year Old Cask #453 Adelphi,Islay Single Malt Scotch Whisky\nAdelphi,70.0,49.2,5.0,1.0,In Stock,3660.000,5228.5662,1.0,A 21 year old independent bottling of Ardbeg d...,2022-06-22,Scotland